body{
    background-color: #e0e0e0;
    font-family: "Roboto Slab", sans-serif;
    max-width: 100%;
    overflow-x: hidden;
}

h1{
    font-size: 26px;
}


h2{
    font-size: 16px;
}

/* Create two equal columns that floats next to each other */
.column {
  /* float: left; */
  /* width: 45%; */
  padding: 10px;
}
/* Clear floats after the columns */
.row:after {
  /*content: "";
  display: block;
  clear: both; */
}
.notice{
    color: #cccccc;
}

.form{
    display: contents;
}

.content{
    display: flex;
    background-color: white;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 3% 10%;
    padding: 3%;
    max-width: 100%;
}
.row{
    width: 80%;
    max-width: 42em;
    margin-bottom: 0.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.next_button{
    width: 100%;
}

.picker{
    border-radius: 0.4em;
    width: 12em;
    height: 2em;
}

.pretty_link{
    width: 100%;
    display: flex;
    justify-content: center;
    text-decoration: none;
    padding: 1em;
    font-size: large;
    border-radius: 11px;
    text-shadow: 0.11px 0.11px 3px black;
}

.forward{
    color: white;
    background-color: #ce000b;
}

.forward:hover{
    color: white;
    background-color: #ff240c;
    box-shadow: 0 0 0 1pt black;
}

.back{
    color: white;
    background-color: lightgrey;
}
.back:hover{
    color: white;
    background-color: darkgrey;
    box-shadow: 0 0 0 1pt black;
}

.errors{
    color: red;
    text-align: center;
    display: flex;
    width: 100%;
}

.help-block{
    width: 100%;
    text-align: center;
    color: red;
}

.nowrap{
    flex-wrap: nowrap;
}

@media screen and (max-width: 850px){
    .img{
        background-color: transparent;
        width: 100%;
        margin: 0.3em;
    }
    .content{
        margin: 2% 0%;
    }
    .picker{
        width: 20em;
    }
}