.callout{
    cursor:pointer;
    width: 80%;
    max-width: 42em;
    background-color: #ce000b;
    color: white;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1px;
    border-radius: 10px;
}
.calloutRow{
    width: 95%;
    margin-bottom: 0.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0px;
}
.center{
    text-align: center;
    width: 100%;
}
.innerPadding{
    width: -webkit-fill-available;
    background-color: inherit;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    padding: 1em;
    font-size: large;
    border-radius: 11px;
    text-shadow: 0.11px 0.11px 3px black;
}
.revealed{
    display: flex;
}