ご予約をありがとうございます。オンライン予約が完了いたしました。<br>
当日は、ご予約されたお時間に、受付までお越しください。<br>

<br>
ご参加にあたり、以下重要項目につき、事前にご確認ください。<br>
<ol>
  <li>キャンセル料は前日から発生いたします。前日のキャンセルではご料金の50％、 <br>
    当日のキャンセルでは100％となりますのでご了承ください。</li>
  <li>当日飲酒をされている場合は、ご参加いただけませんのでお控えください。</li>
  <li>お支払は当日受付にて現金で承ります（クレジットカードは使用できませんのでご留意ください）。<br>
    また、グループの皆様ご一括のお支払いでお願いいたしておりますので事前にご用意ください。</li>
  <li>雨天決行となりますので、天気藍??ｲ確認の上、必要であれば雨具やタオル、着替えなどご用意ください。</li>
  <li>参加条件・健康条件につきましては、事前にご確認をお願いいたします→<a href="/ja/index.php/booking/sections/C40/">ここをクリック</a></li>
    </ol>
    またご質問がございましたらまずはFAQ（よくある質問）でご確認ください→<a href="/ja/index.php/sites/sections/C9/">ここをクリック</a><br>
<br>
それではスタッフ一同お待ちしております。<br>
バンジージャパンみなかみ<br>
住所〒379-1612<br>
群馬県利根郡みなかみ町小日向143  　　　　　　　　<br>
※お車の場合は「みなかみの森」バンジー専用駐車場をご利用ください。受付から徒歩2分程度です（無料）。<br>
