<h2 align="center" style="color:#FF0000">前の画面で入力いただいたメールアドレスにご予約内容確認メールを送信いたしました。</h2><br>
<p align="center" style="font-weight:bold">
当日は、ご予約をありがとうございました。ご予約・支払い完了いたしました
</p>
<p><strong>ご参加にあたり、以下重要項目につき、事前にご確認ください。</strong></p>
<hr>
<p align="left">1) キャンセル料は前日から発生いたします。前日のキャンセルではご料金の50％、
当日のキャンセルでは100％となりますのでご了承ください。</p>
<p align="left">2) 当日飲酒をされている場合は、ご参加いただけませんのでお控えください。</p>
<p align="left">3) 雨天決行となりますので、天気予報ご確認の上、必要であれば雨具やタオル、着替えなどご用意ください。</p>
<p align="left">4) 参加条件・健康条件につきましては、事前にご確認をお願いいたします→<a href="/ja/index.php/booking/sections/C40/">ここをクリック</a></p>
<hr>
<p> <h2 align="center">またご質問がございましたらまずはFAQ（よくある質問）でご確認ください→<a href="/ja/index.php/sites/sections/C9/">ここをクリック</a></h2></p>
<br>
<h1 align="center" style="color: #FF0000">それではスタッフ一同お待ちしております。</h1> 