h1 {
    margin: 0;
    /*background-color: blue;*/
    text-align: center;
    width: 100%;
}

#banking-table input, #banking-table select {
    width: 95%;
    font-size: 12px;
    border: 1px solid black;
}

#banking-table {
    background-color: black;
    width: 100%;
}

#banking-table td {
    background-color: white;
    font-size: 12px;
}

#banking-table th {
    background-color: black;
    color: white;
}

#banking-table th#out-header {
    background-color: red;
    color: white;
}

#banking-table th#in-header {
    background-color: #00ff00;
    color: white;
}

#banking-header td {
    background-color: #45A6FF;
}

#banking-header-yucho td {
    background-color: #71FF78;
}

#banking-header-jnb td {
    background-color: #FFA506;
}

#banking-header-mizuho td {
    background-color: #CC06FF;
}

#banking-header-all td {
    background-color: #C0C0C0;
}

#banking-header-gunma td {
    background-color: #FFF045;
}

#banking-header td a {
    color: white;
}

#banking-table td {
    vertical-align: top;
    text-align: center;
}

#banking-table tr.cf td {
    background-color: silver;
}

#totals-table {
    min-width: 200px;
    margin-top: 50px;
    margin-left: 100px;
    border-collapse: collapse;
    border-width: 0px 0px 0px 0px;
    border-style: none;
    border-spacing: 0px;
}

#totals-table tr#header-row td {
    background-color: black;
    color: white;
    font-weight: bold;
}

#totals-table td {
    background-color: white;
    padding: 2px;
    border: 1px solid black;
}

#totals-table td.totals-value {
    text-align: right;
}

#totals-table tr#grand-total-row td {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-left: none;
    border-right: none;
    padding: 2px;
    font-weight: bold;
}

/*
#date, #date_edit, #in, #in_edit, #out, #out_edit, #balance, #balance_edit, #charge, #charge_edit {
    width: 50px;
}
#notes, #notes_edit, #yayoi, #yaoyi_edit {
    width: 100px;
}
*/

#banking-table input.change, #banking-table input.delete, #banking-table input.cancel, #banking-table input.update {
    width: 60px;
    font-size: 12px;
    padding: 0px;
    margin: 0px;
    border: 1px solid black;
}

#bank-account-select{
    width:20%;
}
