h1 {
    margin: 0;
    background-color: red;
    text-align: center;
    width: 100%;
}

#expenses-table {
    width: 100%;
    background-color: black;
}

#expenses-table th {
    background-color: black;
    color: white;
}

#expenses-table td {
    vertical-align: top;
    text-align: center;
    font-size: 11px;
    background-color: white;
    overflow: hidden;
}

#expenses-table input, #expenses-table select {
    font-size: 11px;
    width: 95%;
    border: 1px solid black;
}

#expenses-header td {
    background-color: red;
}

#totals-table {
    min-width: 300px;
    margin-top: 50px;
    margin-left: 100px;
    border-collapse: collapse;
    border-width: 0px 0px 0px 0px;
    border-style: none;
    border-spacing: 0px;
    display: inline;
}

#totals-table tr#header-row td {
    background-color: black;
    color: white;
    text-align: center;
    font-weight: bold;
}

#totals-table th {
    background-color: black;
    padding: 2px;
    color: white;
    border: 1px solid black;
    text-align: right;
    width: 50%;
}

#totals-table td.noborder {
    border: none !important;
}

#totals-table td {
    background-color: white;
    padding: 2px;
    border: 1px solid black;
    text-align: right;
}

#totals-table td.totals-value {
    text-align: right;
}

#totals-table tr#grand-total-row td {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-left: none;
    border-right: none;
    padding: 2px;
    font-weight: bold;
}

#purchaser-header {
    font-size: 11px;
}

#sheet-header {
    font-size: 11px;
}

#expenses-table input.change, #expenses-table input.delete, #expenses-table input.cancel, #expenses-table input.update {
    width: 60px;
    font-size: 12px;
    padding: 0px;
    margin: 2px;
    border: 1px solid black;
}

#staff-welfare-reup-table {
    width: 300px;
    border-collapse: collapse;
    border-spacing: 0;
    min-width: 300px;
    margin-top: 50px;
    margin-left: 100px;
    border-collapse: collapse;
    border-width: 0px 0px 0px 0px;
    border-style: none;
    border-spacing: 0px;
    display: inline;
}

#staff-welfare-reup-table th {
    background-color: black;
    border: 1px solid black;
    color: white;
    padding: 2px;
    text-align: right;
    width: 50%;
}

#staff-welfare-reup-table tr#header-row td {
    background-color: black;
    color: white;
    font-weight: bold;
    text-align: center;
}
#staff-welfare-reup-table td {
    background-color: white;
    border: 1px solid black;
    padding: 2px;
    text-align: right;
}

