/*<!--[if IE]>*/
.vertical-align {
    margin: 0px;
    padding: 0px;
    font-size: 11px;
    font-family: Arial;
    font-weight: bold;
}

/*
   <![endif]-->
   <!--[if !IE]>
   .vertical-align {
display: block;
margin: 0px;
padding: 0px;
font-size: 11px;
font-family: Arial;
font-weight: bold;
width: 150px;
left: -40px;
position: relative;
-webkit-transform: rotate(90deg);
-moz-transform: rotate(90deg);
-ms-transform: rotate(90deg);
-o-transform: rotate(90deg);
transform: rotate(90deg);
}
<![endif]-->
 */
.va2 {
    display: block;
    margin: 0px;
    padding: 0px;
    font-size: 10px;
    font-family: Arial;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.small-header {
    font-size: 10px;
}

#income-table {
    border: none;
    background-color: black;
    font-size: 11px;
    font-family: Arial;
    text-align: center;
    width: 100%;
}

#income-table th {
    /*border: 1px solid black;
      border-collapse: collapse;*/
    background-color: silver;;
    color: white;
    overflow: hidden;
    max-width: 60px;
    font-size: 11px;
    font-family: Arial;
    height: 25px;
}

#income-table td input {
    width: 99%;
    height: 99%;
    max-width: 70px;
    font-size: 10px;
    border: 1px solid gray;
    text-align: center;
}

.even, .even * {
    background-color: white;
}

.odd, .odd * {
    background-color: silver;
}

#income-table .totals th {
    font-weight: bold;
    color: black;
    background-color: white;
}

#income-table .last-month-totals td {
    background-color: #0F0;
}
