@font-face {
	font-family: 'Cantarell';
	src: url('../fonts/Cantarell-Regular.ttf');
}
body, html {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Cantarell', sans-serif;
}
div#container {
	width: 100%;
	min-height: 100%;
	height: auto;
	background: -moz-linear-gradient(#BBBBBB, #FFFFFF);
	background: -o-linear-gradient(#BBBBBB, #FFFFFF);
	background: -webkit-linear-gradient(#BBBBBB, #FFFFFF);
	background: linear-gradient(#BBBBBB, #FFFFFF);
	display: flex;
	flex-direction: row;
	float: left;
}
div#left {
	width: 50vw;
}
div#overview {
	width:30vw;
	height:80vh;
	margin-top: 1vh;
	margin-left: 2vw;
}
img#logo {
	padding-left: 2vh;
	padding-top: 1vh;
	width: 25vh;
}

div.cell {
	background: -moz-linear-gradient(#FFF, #EAEAEA);
	background: -moz-linear-gradient(#FFF, #EAEAEA);
	background: -o-linear-gradient(#FFF, #EAEAEA);
	background: linear-gradient(#FFF, #EAEAEA);
	background: -webkit-linear-gradient(#FFF, #EAEAEA);
	box-shadow: 0px 0px 40px #777777;
}
h1#overview_title {
	text-align: center;
	font-size: 5vw;
	margin: 0;
	font-weight: 200;
	line-height: 4vw;
	padding-top: 1vh;
}
p.overview_value {
	padding-left: 1vw;
	margin-top: 1vh;
	margin-bottom: 0;
	font-size: 1.5vw;
}
div.site {
	width: 20vw;
	height: 20vw;
	margin-right: 3.9vh;
	margin-bottom: 2.9vw;
}
div.site[data-state="open"] div.site_closed {
	display: none;
}

div.site[data-state="open"] div.site_media {
	display: none;
}

div.site[data-state="closed"] div.site_media {
	display: none;
}
/*
div.site[data-state="closed"] div.site_media {
	display: none;
}

div.site[data-state="closed"] div.site_media {
	display: none;
}

div.site[data-state="closed"] div.site_media {
	display: none;
}
*/

div.site[data-state="closed"] div.site_closed,
div.site[data-state="media"] div.site_media {

	width: 380px;
	height: 250px;
	background-color: #ccc;
	position: relative;
	top: -325px;
	left: 0;
	text-align: center;
	z-index: 999;
	opacity: 0.80;
	font-size: 60px;
	padding-top: 70px;
	color: black;
}

div.site[data-state="media"] div.site_media {
	width: 380px;
	height: 250px;
	background-color: #ccc;
	position: relative;
	top: -325px;
	left: 0;
	text-align: center;
	z-index: 999;
	opacity: 0.80;
	font-size: 60px;
	padding-top: 70px;
	color: black;
	line-height: 162px;
}

div.coming_soon {
	font-size: 60px;
	text-align: center;
	color: #9c9c9c;
	padding-top: 70px;
	height: 250px;
}

div#right {
	display: flex;
	flex-wrap: wrap;
	padding-left: 1vw;
	padding-top: 2vh;
	align-items: flex-start;
	justify-content: flex-start;
	align-content: flex-start;
}
h2.site_title {
	text-align: center;
	font-size: 50px;
	margin-top: 5px;
	margin-bottom: 0;
	font-weight: 200;
}
div.site_weather {
	margin-left: 20px;
	height: 90px;
	width: 70px;
	background-size: contain;
}
div.site_temp {
	position: absolute;
	top: -100px;
	left: 277px;
	font-size: 40px;
	width: 40px;
}
div.site_weather_placeholder {
}
div.rain {
	background-image: url('../image/weather/rain.png');
}
div.snow {
	background-image: url('../image/weather/snow.png');
}
div.sunny {
	background-image: url('../image/weather/sunny.png');
}
div.overcast {
	background-image: url('../image/weather/overcast.png');
}
div.cloudy {
	background-image: url('../image/weather/cloudy.png');
}
div.rain_lightening {
	background-image: url('../image/weather/rain_lightening.png');
}
div.rain_snow {
	background-image: url('../image/weather/rain_snow.png');
}
div.site_gauges_placeholder {
	margin-top: -140px;
	height: 240px;
	text-align: center;
}
.wind_dial {
	position:relative;
	z-index: 995;
    width: 6vw;
    height: 6vw;
}
.jumps_dial {
	position: relative;
	right: 50px;
    width: 13vw;
    height: 13vw;
}
.staff_dial {
	position: relative;
	width: 6vw;
	height: 6vw;
	bottom: 2vw;
	left: 6vw;
}

@-moz-document url-prefix() {
	div.site[data-state="closed"] div.site_closed {
		/*top: -318px;*/
		top: -324px;
	}
	div.site_temp {
		left: 275px;
	}
}
