/* TOOLTIP */
#tt {position:absolute; display:block; background:url(/img/tt_left.gif) top left no-repeat}
#tttop {display:block; height:5px; margin-left:5px; background:url(/img/tt_top.gif) top right no-repeat; overflow:hidden}
#ttcont {
	display:block; 
	padding:5px; 
	margin-left:0px; 
	background:#666; 
	color:#FFF;
	border-radius: 5px;
}
#ttbot {display:block; height:5px; margin-left:5px; background:url(/img/tt_bottom.gif) top right no-repeat; overflow:hidden}
/* EOF TOOLTIP */
#calendar-header-table {
	width: 100%;
	background-color: black;
}
#calendar-header-table th {
	/*border: 1px solid black;
	border-collapse: collapse;*/
	background-color: white;
	color: black;
	overflow: hidden;
	font-size: 14px;
	font-family: Arial;
	font-weight: normal;
}
.Notes {
	min-width: 100px;
}
#calendar-table td input {
	width: 99%;
	height: 99%;
	max-width: 100px;
	font-size: 10px;
	border: 1px solid gray;
	text-align: center;
}
.days td {
	background-color: white !important;
}
#calendar-table td select option {
	background-color: white;
}
.even .staff, .even  .staff *, .even .selected, .even .selected * {
	background-color: lightyellow !important;
}
.odd .staff, .odd .staff *, .odd .selected, .odd .selected * {
	background-color: lightcyan !important;
}
#calendar-table td select {
	width: 200%;
}
#calendar-table td {
	overflow: hidden;
}
#calendar-table {
	width: 100%;
	background-color: black;
	table-layout: fixed;
}
.clickable {
	float: left !important;
	position: relative;
	margin: 5px;
	padding: 3px;
	font-family:Verdana;
	font-size: 18px;
	line-height: 20px;
	height: 35px;
	vertical-align: middle;
	border: 1px solid black;
	color: black;
	background-color: lightgrey;
}
.square-button {
	width: 35px;
	height: 35px;
}
.clickable:hover {
	color: #777;
	border: 1px solid #777;
}
#previous_date {
	margin-right: 1px !important;
}
#next_date {
	margin-left: 1px !important;
}
#today {
	width: 75px;
}
#current-date {
	width: 100%;
	text-align: left;
}
#current-date button {
	float: left;
}
.calendar-row {
}
.calendar-row th {
	background-color: black !important;
	color: white !important;
	height: 18px !important;
	max-height: 18px !important;
}
.calendar-row td {
	vertical-align: top;
	min-height: 100px !important;
	min-width: 100px;
	height: 100px;
	background-color: #eee;
}
.calendar-day {
	background-color: #eee;
	text-align: right;
}
.closed, .closed * {
	background-color: #fcc !important;
}
.closed.active-day, .closed.active-day * {
	background-color: #faa !important;
}
.not-this-month, .not-this-month * {
	background-color: #ccc !important;
}
.active-day, .active-day * {
	background-color: #ddd !important;
}
.cell-content {
	width: 95%;
}
#add-event {
	margin-left: auto;
	margin-right: auto;
	width: 440px;
	display: none;
}
#show-add-event-form, #add-event-button, #delete-event-button {
	float: right !important;
}
#delete-event-button {
	margin-right: 20px;
}
#add-event label {
	float: left;
	width: 120px;
	text-align: right;
	display: block;
}
#add-event input[type=text], #add-event textarea {
	margin-left: 10px;
	width: 300px;
}
#add-event input[type=checkbox], #add-event select {
	margin-left: 10px;
}
#form-title {
	width: 100%;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 20px;
}
.events {
	margin: 2px;
	border: 1px solid black;
}

.open, .open * {
	background-color: #cfc !important;
}
.open.active-day, .open.active-day * {
	background-color: #afa !important;
}
.tooltip-event-title {
	background-color: black;
	padding: 5px;
	border-radius: 5px;
	color: white;
	font-weight: bold;
	text-align: center;
}
.tooltip-event-time {
}
.tooltip-event-description {
	border-top: 2px solid black;
}
.events {
	border-radius: 5px;
	padding-left: 5px;
	padding-right: 5px;
}
#site-colours {
	float: right;
	width: 0px;
}
#site-colours .color-list .color-item-site {
	float: right;
	margin: 5px;
	padding: 2px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-border-radius: 5px;
	width: 205px;
	clear: both;
	border: 1px solid black;
}
#switch-site {
	position: relative;
	float: right;
    font-size: 14pt;
	margin: 5px;
    margin-left: 20px;
	height: 35px;
	line-height: 35px;
}
#switch-site select {
	font-size: 14pt;
}
