/* TOOLTIP */
#tt {
    position: absolute;
    display: block;
    background: url(/img/tt_left.gif) top left no-repeat
}

#tttop {
    display: block;
    height: 5px;
    margin-left: 5px;
    background: url(/img/tt_top.gif) top right no-repeat;
    overflow: hidden
}

#ttcont {
    display: block;
    padding: 2px 12px 3px 7px;
    margin-left: 5px;
    background: #666;
    color: #FFF
}

#ttbot {
    display: block;
    height: 5px;
    margin-left: 5px;
    background: url(/img/tt_bottom.gif) top right no-repeat;
    overflow: hidden
}

/* EOF TOOLTIP */
body {
    background-color: black;
}

body div#container {
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    color: white;
    text-align: center;
}

h1, h2 {
    width: 100%;
    text-align: center;
}

#free-jump-container table {
    width: 100%;
}

#free-jump-container table td {
    width: 50%;
    text-align: left;
}

.field-name {
    vertical-align: top;
    text-align: right !important;
    padding-right: 10px;
}

.center {
    text-align: center !important;
}

#jump-date-input {
    width: 100px;
}

#back, #help {
    float: left;
}

#book-jump {
    float: right;
}

.booked {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

.checked {
    background-color: green;
}

.deleted {
    background-color: red;
}

.unavailable, .unavailable .ui-state-default {
    background: none !important;
    background-color: #faa !important;
}
