/*
* {margin:0; padding:0}
body {font:11px/1.5 Verdana, Arial, Helvetica, sans-serif; background:#000000}
#text {margin:50px auto; width:500px}
.hotspot {color:#900; padding-bottom:1px; border-bottom:1px dotted #900; cursor:pointer}

#tt {position:absolute; display:block; background:url(img/tt_left.gif) top left no-repeat}
#tttop {display:block; height:5px; margin-left:5px; background:url(img/tt_top.gif) top right no-repeat; overflow:hidden}
#ttcont {display:block; padding:2px 12px 3px 7px; margin-left:5px; background:#666; color:#FFF}
#ttbot {display:block; height:5px; margin-left:5px; background:url(img/tt_bottom.gif) top right no-repeat; overflow:hidden}
#numbered {
list-style-type: decimal;
color: white;
display: list-item;
margin-left: 30px;
}
*/

.back{
    background-color: #bbbbbb;
    border-color: #888888;
}

.wide-button{
    width: 100% !important;
}

.u20Button{
    width: 100%;
}
.u20ButtonSmaller{
    width: 50%;
}

.alignRight{
    float: right;
}
.alignLeft{
    float: left;
}
.half{
    width: 45%;
    margin-bottom: 10px;
    margin-top: 5px;
}

input, select{
    width: 60%;
}

h3{
    font-weight: bold;
}

.emphasis{
    color: #cd0007
}


#centerColumn{
    max-width: 650px;
    margin: 0px auto;
}

#sectionTop{
    height: 14vh;
    min-height: 66px;
    margin-top: 3%;
    margin-bottom: 3%;
    padding: 1px;
}

#inner {
    color: black;
    font-weight: 600;
    font-size: 160%;
    line-height: initial;
    position: relative;
    top: 50%;
    text-align:;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

#datepicker {
    min-width: 130px;
}

#slice{
    margin-top: 15px;
    margin-bottom: 15px;
    clear: both;
}

#dropdown{
    width: 50%;
    float: right;
}

#content-container{
    max-width: 650px;
    margin: 0 auto;
}

 #progress{
     margin: 10px auto;
 }
#progress img{
    margin: 0 auto;
    padding: 0px;
    display: block;
}

#progress-description-small{
    display: none !important;
}

@media (max-width: 900px){
    #progress-description{
        display: none !important;
    }

    #progress-description-small{
        display: block !important;
    }
}

.form-bounds{
    background-color: #eee;
    border-radius: 5px;
    padding: 5px;
}

table th, table td {
    padding: 0.5em 0.625em;
    line-height: 1.3;
    text-align: left;
    vertical-align: middle;
    border-top: 0 solid #dddddd;
}

.underline{
    border-bottom: 1px solid #dddddd;
}
