/************************************************************************************
RESET
*************************************************************************************/
html, body, address, blockquote, div, dl, form, h1, h2, h3, h4, h5, h6, ol, p, pre, table, ul,
dd, dt, li, tbody, td, tfoot, th, thead, tr, button, del, ins, map, object,
a, abbr, acronym, b, bdo, big, br, cite, code, dfn, em, i, img, kbd, q, samp, small, span,
strong, sub, sup, tt, var, legend, fieldset {
	margin: 0;
	padding: 0;
}

img, fieldset {
	border: 0;
}

/* set image max width to 100% */
img {
	max-width: 100%;
	height: auto;
	width: auto\9; /* ie8 */
}

/* set html5 elements to block */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { 
    display: block;
}

/* reset webkit search input styles */
input[type=search] {
	-webkit-appearance: none;
	outline: none;
}
input[type="search"]::-webkit-search-decoration, 
input[type="search"]::-webkit-search-cancel-button {
	display: none;
}

/************************************************************************************
GENERAL STYLING
*************************************************************************************/
body{
	background: black;
}

#pagewrap{
	width: 900px;
	margin: 0 auto;
}

#next{
	background-color: green;
}

#back{
	background-color: red;
}

#help{
	background-color: blue;
}
/*LINKS */
/*h1 ... h6*/
/*LINKS */
/*LINKS */

/******************************************************************************************
HEADER 
******************************************************************************************/
#header{
	width: 900px;
	height: 334px;
}

/******************************************************************************************
FOOTER
******************************************************************************************/
#footer{
	width: 900px;
	height: 224px;
}
/******************************************************************************************
GENERAL
******************************************************************************************/
.wide-button{
	width: 90%;
	height: 30px;
	max-width: 400px;
	margin: 5px;
}

.wide-input{
	margin: 5px;
	width: 90%;
	max-width: 400px;
	display: block;
}

.big-button{
	height: 90px;
}

body{
	color: white;
}

select{
	margin: 5px;
	height: 30px;
	display: block;
	width: 90%;
	max-width: 400px;
}

p{
	max-width: 400px;
}

#pagewrap{
}

#content-wrap{
	max-width: 400px;
	margin-left: auto;
	margin-right: auto;
}
/******************************************************************************************
INDEX PAGE
******************************************************************************************/
.site-image{
	width: 90%; 
	height: auto; 
	max-width: 400px;
	display: block;
	padding-bottom: 10px;
}


/******************************************************************************************
WHEN PAGE
******************************************************************************************/

/******************************************************************************************
PEOPLE PAGE
******************************************************************************************/

/******************************************************************************************
FINALIZE PAGE
******************************************************************************************/

/******************************************************************************************
CONFIRMATION PAGE
******************************************************************************************/

/******************************************************************************************
RESPONSIVE
******************************************************************************************/
@media screen and (max-width: 980px) {
    #pagewrap {
        width: 95%;
    }
    #content {
        width: 60%;
        padding: 3% 4%;
    }

    #header {
        width: 100%;
        height: auto;
    }

    #footer {
        width: 100%;
    }
}

@media screen and (max-width: 650px) {

}

@media screen and (max-width: 480px) {

}

