@media (max-width: 1000px) and (orientation:landscape) {
  /* Styles for Landscape screen */

    h2{
        font-size: 2.5vw;
    }
    div#container{
    flex-direction: column;
    height: 110vh;
    }
    div.site.cell{
    width: 31%;
    height: 60%;
    }   
    div#right{
    top: 2vw;
    width: 100%;
    justify-content: center;
    height: -webkit-fill-available;
    height: 70vh;
    position: absolute;    
    margin-top: 75vh;
      
    }
    div#left{   
    height: 55%;
    width: 100%;  
    margin-bottom: 10px;
     
    }
    div#overview{
    width: 96%;
    display: flex;
    flex-direction: column;
    height: 220vh;
    }    
    p.overview_value {
    font-size: 1.5vw;
    margin: 0;
    }   
    div.site_temp {
    z-index: 1;
    position: absolute;
    right: 0;
    top: 1.1vw; 
    font-size: 2vw;
    }    
    div.site_weather {
    z-index: 1;
    position: absolute;
    top: 2vw;
    left: 0px;
    width: 20px;
    height: 24px;
    }
    .wind_dial {
    max-width: 25%;
    max-height: 45%;
    }
    .jumps_dial {
    max-width: 80%;
    max-height: 80%;
    }
    .staff_dial {
    max-width: 25%;
    max-height: 45%;
    }
    div.site[data-state="closed"] div.site_closed,
    div.site[data-state="media"] div.site_media {
      font-size: 1.5vw;
    }
    
    div.coming_soon {
    }
  
    img#logo{
      width: 77px;
      position: absolute;
      margin-top: 10px;
      margin-left: 10px;
        
    }
   
}

/* TV screen */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1360px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 

    div.site.cell{
    width: 31%;
    /* height: 100%; */
    }   

    .wind_dial {
    max-width: 25%;
    max-height: 45%;
    }
    .jumps_dial {
    max-width: 90%;
    max-height: 80%;
    }
    .staff_dial {
    max-width: 25%;
    max-height: 45%;
    }

  }