@media (max-width: 1000px) {
    h2{
        font-size: 3vw;
    }    
 
    h2.site_title {
	text-align: left;
	margin: 0px;
	font-size: 2.5vw;
	margin-left: 5px;
    }
  
    div#container{
    flex-direction: column;
    height: calc(100vh - 60px); 60px
    }
    div.site.cell{
    width: 31%;
    height: 22%;
    }   
    div#right{
    width: 100%;
    float:left;
    justify-content: center;
    height: -webkit-fill-available;
    height: 80%;
    position: absolute;
    margin-top: 40vh; 
    }
    div#left{
    display: flex;
    width: 100%;
    height: 45%; 
    float:left;
    margin-bottom: 10px;
    }
    div#overview{
    width: 96%;
    display: flex;
    flex-direction: column;
    height: 110vh; 
    }    
    p.overview_value {
    font-size: 1.5vh;
    margin: 0;
    }   
    div.site_temp {
    z-index: 1;
    position: absolute;
    right: 0;
    top: 1.5vw; 
    font-size: 2vw;
    }    
    div.site_weather {
    z-index: 1;
    position: absolute;
    /* top: 1.1vw; */
    left: 0px;
    width: 20px;
    height: 24px;
    }
    .wind_dial {
    max-width: 24%;
    max-height: 45%;
    }
    .jumps_dial {
    max-width: 80%;
    max-height: 80%;
    }
    .staff_dial {
    max-width: 24%;
    max-height: 45%;
    }
    div.site[data-state="closed"] div.site_closed,
    div.site[data-state="media"] div.site_media {
      font-size: 1.5vw;
    }
    
    div.coming_soon {
    }
    img#logo{
    width: 77px;
    position: absolute;
    }
   
}



/* TV screen */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1360px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 

    div.site.cell{
    width: 31%;
    /* height: 100%; */
    }   

    .wind_dial {
    max-width: 25%;
    max-height: 45%;
    }
    .jumps_dial {
    max-width: 90%;
    max-height: 80%;
    }
    .staff_dial {
    max-width: 25%;
    max-height: 45%;
    }

  }