@font-face {
	font-family: 'Cantarell';
	src: url('../fonts/Cantarell-Regular.ttf');
}
body, html {
	margin: 0;
	padding: 0;
	min-height:100%;
	height:auto !important; 
	height: 100%;
	font-family: 'Cantarell', sans-serif;
}

body {}
div#container {
	width: 100%;
	min-height: 100%;
	height: auto;
	background: -o-linear-gradient(#BBBBBB, #FFFFFF);
	background: -webkit-linear-gradient(#BBBBBB, #FFFFFF);
	background: -webkit-gradient(linear, left top, left bottom, from(#BBBBBB), to(#FFFFFF));
	background: linear-gradient(#BBBBBB, #FFFFFF);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	float: left;
}
div#left {
	width: 45vw;
}
div#overview {
	width: 40vw;
	height: 80vh;
	margin-top: 1vh;
	margin-left: 2vw;
}
img#logo {
	padding-left: 2vh;
	padding-top: 2vh;
	width: 25vh;
}

div.cell {
	background: -o-linear-gradient(#FFF, #EAEAEA);
	background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#EAEAEA));
	background: linear-gradient(#FFF, #EAEAEA);
	background: -webkit-linear-gradient(#FFF, #EAEAEA);
	-webkit-box-shadow: 0px 0px 40px #777777;
	        box-shadow: 0px 0px 40px #777777;
}

.site.cell {
    position: relative;
    width: 32%;
    height: 32%;
    margin-right: 5px;
    margin-bottom: 5px;
}
h1#overview_title {
	text-align: center;
	font-size: 5vw;
	margin: 0;
	font-weight: 200;
	line-height: 4vw;
	padding-top: 1vh;
}

div#chartlink {
	text-align: center;
	font-size: 3vw;
	font-weight: 200;
	padding-top: 1vh;
	line-height: 0;
}

p.overview_value {
	padding-left: 1vw;
	margin-top: 1vh;
	margin-bottom: 0;
	font-size: 1.5vw;
}
div.site {
}
div.site[data-state="open"] div.site_closed {
	display: none;
}

div.site[data-state="open"] div.site_media {
	display: none;
}

div.site[data-state="closed"] div.site_media {
	display: none;
}

div.site[data-state="closed"] div.site_closed{
    background-color: rgba(100,100,100,0.6);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 5;
    text-align: right;
    font-size: 1vw;
}
div.site[data-state="media"] div.site_media {

background-color: #ccc;

text-align: center;

opacity: 0.95;

font-size: 4vw;

color: black;

position: absolute;

top: 0px;

width: inherit;

height: inherit;
}


div.coming_soon {
	font-size: 2vw;
	text-align: center;
	color: #9c9c9c;
	height: 8vw;
	width:  20vw;
}

div#right {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	padding-left: 1vw; 
	padding-top: 1vw; 
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-ms-flex-line-pack: start;
	align-content: flex-start;	
}
h2.site_title {
	text-align: left;
	margin: 0px;
	font-size: 2vw;
	margin-left: 5px;
}
div.site_weather {background-size: contain;width: 30px;height: 40px;display: -webkit-box;display: -ms-flexbox;display: flex;margin: 5px;}
div.site_temp {display: -webkit-box;display: -ms-flexbox;display: flex;margin: 5px;font-size: 1.5vw;}
div.site_weather_placeholder {display: -webkit-box;display: -ms-flexbox;display: flex;-ms-flex-preferred-size: initial;flex-basis: initial;-webkit-box-pack: justify;-ms-flex-pack: justify;justify-content: space-between;}
div.rain {
	background-image: url('../image/weather/rain.png');
}
div.snow {
	background-image: url('../image/weather/snow.png');
}
div.sunny {
	background-image: url('../image/weather/sunny.png');
}
div.overcast {
	background-image: url('../image/weather/overcast.png');
}
div.cloudy {
	background-image: url('../image/weather/cloudy.png');
}
div.rain_lightening {
	background-image: url('../image/weather/rain_lightening.png');
}
div.rain_snow {
	background-image: url('../image/weather/rain_snow.png');
}
div.site_gauges_placeholder {
}
.wind_dial {position: absolute;bottom: 0;left: 0;z-index: 3; max-width: 25%;}
.jumps_dial {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 80%;
    max-height: 80%;
}
.staff_dial {position: absolute;bottom: 0;right: 0;z-index: 3; max-width: 25%;}