#main-container {
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    font-family: Arial;
    font-size: 12px;
}

h1 {
    width: 100%;
    text-align: center;
}

#items-table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
}

#items-table th {
    font-size: 10px;
    border: 1px solid black;
    background-color: black;
    color: white;
    padding: 3px;
}

#items-table td {
    border: 1px solid black;
    padding: 3px;
    overflow: hidden;
    text-align: center;
    font-size: 10px;
}

.empty-header {
    background-color: white !important;
    border: none !important;
}

.action {
    border: 2px solid black !important;
    font-size: 10px;
    padding: 5px !important;
    text-align: center;
    /*width: 60px;*/
    cursor: pointer;
}

.history {
    background-color: pink;
}

.purchase {
    background-color: palegreen;
}

.distribute {
    background-color: #AFEEEE;
}

.adjust {
    background-color: #FFFACD;
}

.edit, .update {
    background-color: #F4A460;
}

.delete, .cancel {
    background-color: #B390FB;
}

.request {
    background-color: palegreen;
}

.retire {
    background-color: #AFEEEE;
}

.purchase {
    background-color: palegreen;
}

.item_name {
    border-left: 2px solid black !important;
}

.notes {
    border-right: 2px solid black !important;
}

#items-table td.fields {
    border: none !important;
    border-top: 2px black solid !important;
}

#items-table td.actions {
    border: none !important;
}

.fields input, .fields select {
    width: 95%;
    height: 98%;
}

.value input, .value select {
    width: 95%;
    height: 98%;
}

#items-table td.item_name, #items-table td.notes {
    text-align: left;
}

#action-required {
    display: none;
}

#action-required table {
    border-collapse: collapse;
    width: 800px;
}

#action-required th {
    border: 1px solid black;
    font-size: 10px;
    padding: 2px;
    text-align: center;
}

#action-required td {
    border: 1px solid black;
    font-size: 10px;
    padding: 2px;
    text-align: center;
}

#action-required td.notes {
    text-align: left;
}

.id {
    width: 50px;
}

#item-hint {
    background-color: silver;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;
    font-size: 10px;
}

#item-hint table {
    border-collapse: collapse;
}

#item-hint table th, #item-hint table td {
    text-align: center;
    min-width: 30px;
}

#item-hint .item-details-total td {
    border-top: 1px solid black;
    border-bottom: 4px double black;
}

.normal {
    background-color: #0f0;
}

.medium {
    background-color: yellow;
}

.low {
    background-color: red;
}

.deleted {
    color: red;
}

.target_level input {
    max-width: 50px;
    text-align: center;
}

.not-available {
    background-color: red;
}
