.discount{
    display: flex;
    justify-content: center;
    width: 100%;
}
.discount_text{
    color: white;
    background-color: #ce2d04;
    border-radius: 20px;
    padding: 10px;
    font-size: 10px;
    margin-top: 1em;
    margin-bottom: -3em;
}
.discount_text:empty{
    padding: 0;
}

@media screen and (max-width: 850px){
    .discount_text{
        margin-top: 0.5em;
        margin-bottom: 0em;
    }
}