html * {
    font-family: Arial;
}
#container {
    margin-left: 0px;
    margin-right: 0px;
}
#main-table {
    border-collapse: collapse;
    margin: 0px;
}
.main-header {
    border: 2px solid black;
    background-color: black;
    color: white;
}
.main-header h1 {
    color: white;
    width: 100%;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.main-header h4{
    color: darkgrey;
    width: 100%;
    text-align: center;
    margin-top: 2px;
    margin-bottom: 10px;
}

.month-headers, .month-headers th {
    border: 1px solid black;
    background-color: #9FC234;
    font-size: 12px;
}
.expenses-month-headers th {
    border: 1px solid black;
    background-color: red;
    font-size: 12px;
}
.column-headers th {
    background-color: white;
    font-size: 10px;
}
.pax {
    border: 1px solid black;
    min-width: 40px;
    width: 40px;
}
.amount {
    border: 1px solid black;
    width: 60px;
    min-width: 60px;
}
.first-col {
    width: 130px;
    min-width: 120px;
    font-size: 11px;
    white-space: nowrap;
}
.tboard {
    text-align: right !important;
}
td.pax, td.amount {
    font-size: 11px;
    text-align: right;
    border-top: none !important;
    border-bottom: none !important;
}
.subtotal th {
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 12px;
    text-align : right;
    border-top: 2px solid black !important;
    border-bottom: 2px solid black !important;
    font-weight: normal;
}
.subtotal th.subtotal-header {
    font-size: 11px;
    color: blue;
    font-weight: normal;
}
.bungy-total th {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 12px;
    text-align : right;
    border-top: 3px solid black !important;
    border-bottom: 3px solid black !important;
    font-weight: bold;
}
.bungy-total th.subtotal-header {
    font-size: 12px;
    color: black;
    font-weight: bold;
}
.income-total th {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 12px;
    text-align : right;
    border-top: 3px solid black !important;
    border-bottom: 3px solid black !important;
    font-weight: bold;
    background-color: green;
}
.income-total th.subtotal-header {
    font-size: 12px;
    color: black;
    font-weight: bold;
}
.income-total-tboard th {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 12px;
    text-align : right;
    border-top: 3px solid black !important;
    border-bottom: 3px solid black !important;
    font-weight: bold;
}
.income-total-tboard th.subtotal-header {
    font-size: 12px;
    color: black;
    font-weight: bold;
    white-space: nowrap;
}
.pink, .pink td, .pink th {
    background-color: pink;
}

.light-blue, .light-blue td, .light-blue th {
    background-color: lightskyblue;
}
.staff-salary-total th {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 12px;
    text-align : right;
    border-top: 1px solid black !important;
    border-bottom: 1px solid black !important;
    font-weight: bold;
}
.staff-salary-total th.subtotal-header {
    font-size: 12px;
    color: black;
    font-weight: bold;
    text-align: right;
}
.expenses-sub-total th {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 12px;
    text-align : right;
    border-top: 1px solid black !important;
    border-bottom: 3px double black !important;
    font-weight: bold;
    background-color: lightgrey;
}
.expenses-sub-total th.subtotal-header {
    font-size: 12px;
    color: black;
    font-weight: bold;
    text-align: right;
}
.expenses-total th {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 12px;
    text-align : right;
    border-top: 3px solid black !important;
    border-bottom: 1px solid black !important;
    font-weight: bold;
}
.expenses-total th.subtotal-header {
    font-size: 12px;
    color: black;
    font-weight: bold;
    text-align: right;
}
.profit-total th {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 12px;
    text-align : right;
    border-top: 3px solid black !important;
    border-bottom: 1px solid black !important;
    font-weight: bold;
    background-color: black;
    color: white;
}
.profit-total th.subtotal-header {
    font-size: 12px;
    color: black;
    font-weight: bold;
    text-align: left;
    color: white;
}
.floatleft {
    float: left;
}
.floatright {
    float: right;
}
#home {
    margin-left: 30px;
}

tr:hover{
	background-color: #ddd;
}

.negative {
    color: red;
}

.positive{
    color: green;
}
