html{
	background-color: white;
}

tr:not(.no-hover):hover{
	background-color: #ccc;    
}
table{
	width: 100%;
	table-layout: fixed;
	border-collapse: collapse;
	margin: 0;
	padding: 0;
}

table + table, tr {
	border-top: 0;
	border-bottom: 0;
	border-right: 0;
	border-left: 0;
}
/*
tr + td, tr + th{
	border-left: 0px;
    border-right: 0px;
}
*/

td, th{
	border: 1px solid black;
	font-size: 10px;
	margin: 0;
	padding: 0;
	border-collapse: collapse;
}

tr{
	border-collapse: collapse;
	border: 0;
}

td, th{
	text-align:center;
}

/*
td + td, th + th{
	border-left: 1px solid black;
	border-right: 1px solid black;
}
*/

tr.folded{
	border: 0px;
}

.final-total{
	background-color: black;
	color: white;
}

.amount{
	width: 200px;
	font-size: 10px;
}

.pax{
	width: 200px;
	font-size: 10px;
}
.first-col{
	width: 300px;!important;
}

.dark-green{
	background-color: #6B8835;
}

.medium-green{
	background-color: #BDD190;
}

.light-green{
	background-color: #ddebc0;
}

.dark-red{
	background-color: #a33534;
}

.medium-red{
	background-color: #d58b89;
}

.light-red{
	background-color: #e2afae;
}

.dark-blue{
	background-color: royalblue;
}

.medium-blue{
	background-color: deepskyblue;
}

.light-blue{
	background-color: lightskyblue;
}

.folded{
	display:none;
}

.first-col{
	text-align: right;
}

span.expander{
	cursor: pointer;
}