#employee-info-div {
    width:40%; 
    float:right; 
    padding:5px; 
    background:wheat; 
    color:blue;
}

.mishead {
    /*position: fixed;*/
    z-index: 10000;
    width: 100%;
    top: 0px;
    background-image: url(../image/bg-header.gif);
    background-position: center;
    background-repeat: no-repeat;
    height: 123px;
}

.page-head {
    padding: 20px 0;
}

.inner-sm {
    padding: 40px 0;
}

.site {
    border: 2px solid #000;
    margin: 5px;
}

.site .name {
    background-color: #f2f2f2;
    border-bottom: 1px solid #000;
    padding: 15px ;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.1;
}

.green {
    color: green !important;
}

.red {
    color: red !important;
}

.blue {
    color: blue;
}

.error-form {
    margin:20px;
}

.tool-ch + .tooltip > .tooltip-inner {
    background-color: #181818;
    max-width: 600px;    
    width: 350px;
    padding: 10px;
    font-size: 16px;
}