/* TOOLTIP */
#tt {
    position: absolute;
    display: block;
    background: url(/img/tt_left.gif) top left no-repeat
}

#tttop {
    display: block;
    height: 5px;
    margin-left: 5px;
    background: url(/img/tt_top.gif) top right no-repeat;
    overflow: hidden
}

#ttcont {
    display: block;
    padding: 2px 12px 3px 7px;
    margin-left: 5px;
    background: #666;
    color: #FFF
}

#ttbot {
    display: block;
    height: 5px;
    margin-left: 5px;
    background: url(/img/tt_bottom.gif) top right no-repeat;
    overflow: hidden
}

/* EOF TOOLTIP */
.vertical-align {
    display: block;
    margin: 0px;
    padding: 0px;
    font-size: 11px;
    font-family: Arial;
    font-weight: bold;
    width: 150px;
    left: -40px;
    position: relative;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

.va2 {
    display: block;
    margin: 0px;
    padding: 0px;
    font-size: 10px;
    font-family: Arial;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.small-header {
    font-size: 10px;
}

#roster-table {
    border: none;
    font-size: 11px;
    font-family: Arial;
    text-align: center;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
}

#roster-table th {
    /*border: 1px solid black;
    border-collapse: collapse;*/
    background-color: white;;
    color: black;
    overflow: hidden;
    max-width: 60px;
    font-size: 11px;
    font-family: Arial;
    border: 1px solid black;
}

select {
    width: 99%;
    height: 99%;
    font-size: 10px;
    border: none;
    text-align: left;
    text-indent: 0px;
}

.BookingType, .CollectPay, .RateToPayQTY, .Rate, .Agent {
    min-width: 60px;
}

.Notes {
    min-width: 100px;
}

#roster-table td input {
    width: 99%;
    height: 99%;
    max-width: 100px;
    font-size: 10px;
    border: 1px solid gray;
    text-align: center;
    table-layout: fixed;
}

.days td {
    background-color: white;
    border: 1px solid black;
}

#roster-table td select option {
    background-color: white !important;
}

#roster-table .even td, #roster-table .even td *, #roster-table .odd td, #roster-table .odd td * {
    background-color: gray;
}

.even .staff, .even .staff *, .even .selected, .even .selected * {
    background-color: lightyellow !important;
}

.odd .staff, .odd .staff *, .odd .selected, .odd .selected * {
    background-color: lightcyan !important;
}

#roster-table td select {
    width: 200%;
    padding-right: 0px;
}

#roster-table td.staff_position select {
    width: 300%;
    position: relative;
    left: -80%;
    text-align: center;
    padding-right: 0px;
}

#roster-table .second-table select {
    width: 300%;
    position: relative;
    left: -80%;
    text-align: center;
    padding-right: 0px;
}

#roster-table td {
    overflow: hidden;
    border: 1px solid black;
}

#roster-table .separator th {
    border-right: none !important;
    border-left: none !important;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.projected td, .projected td *, .daily td, .daily td * {
    background-color: silver;
}

.second-table input {
    border: none !important;
}

.diff td, .diff td * {
    background-color: lightgreen;
}

.greater, .greater * {
    background-color: #f9c !important;
}

.lesser, .lesser * {
    background-color: red !important;
}

.bottom-header th {
    border: 2px solid black !important;
}

tr.lunch td {
    background-color: black !important;
    color: white !important;
}

.left td {
    text-align: left;
    padding-left: 2px;
}

.border-bottom td {
    border-bottom: 2px solid black !important;
}

.last-cell td {
    padding-bottom: 50px;
}

.border2 {
    border: 2px solid black !important;
}

#special-events {
    vertical-align: top;
    text-align: left;
    padding-left: 5px;
}

.days, .staff_position {
    width: 30px;
    min-width: 30px;
    max-width: 30px;
}

.days-header {
    cursor: pointer;
}

#funcs-drop, #pos-drop, #template-drop {
    display: block;
    background-color: white !important;
    color: black;
    width: 80px;
    height: auto;
    font: Arial 10px;
}

#funcs-drop ul, #pos-drop ul, #template-drop ul {
    margin: 0px;
    padding: 0px;
    border-collapse: collapse;
}

#funcs-drop ul li, #pos-drop ul li {
    display: block;
    list-style: none;
    margin: 0px;
    padding: 0px;
    border: 1px solid black;
    text-align: center;
    font-family: Arial;
    font-size: 10px;
    cursor: pointer;
    background-color: white !important;
    height: 14px;
}

.pos-selected {
    background-color: #eee !important;
}

#buttons {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

#buttons button {
    background-color: yellow;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}

#update {
    float: right;
    width: 100px;
}

#notes {
    width: 99%;
}

.disabled {
    background-color: #a55 !important;
}

.selected.error {
    /*background-color: #F00 !important; */
}

.notes-field {
    text-align: left;
    vertical-align: top;
}

.off {
    color: white !important;
}

#manage {
    margin-left: 30px;
}

/*This class is added to the current day by js so that it is highlighted*/
#roster-table th[class~="highlighted-day"] {
    font-size: 20px;
    background-color: green;
}
