body{
    margin: 0;
}

.topnav{display: flex;justify-content: start;outline: none;color: aqua;background-image: url(headerbg.png);background-repeat: repeat-x;max-width: 100%;}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: inherit;
    align-self: flex-end;
}

.item{
    text-decoration: none;
    display: block;
    padding: 1em 1.5em;
    color: #ce000b;
}

.logocontainer{
    margin-right: 12%;
    margin-left: 8%;
}

.flag{width: 25px;}

.item:hover{
    background-color: lightgrey;
}

.logocontainer:hover{
    background-color: white;
}


.topMenu{
    background-color: white;
}

.subMenu{display: none;position: absolute;background-color: white;}

.dropdown:hover .subMenu{
    display: block;    
}

.bottomDivider{
    background-color: #ce000b;
    width: 100%;
    height: 7px;
}

.logo{display: inline-block;width: 100px;}

.icon{display: none;}

.img{
    text-decoration: none;
    background-color: white;
    color: #ce000b;
}
.doubleup{
    display:flex;
}
@media screen and (max-width: 850px){
    .item{display: none; text-align: center;}
    .img{display: block;width: 50%;}
    .logocontainer{display: block;}
    .icon{display: block;background-color: white;}
    .icon:hover{background-color: lightgrey;}
    .topnav{
        flex-direction: column;
    }
    ul{
        flex-direction: column;
    }
    .topmenu{
        width: 100%;
    }
    .subMenu{
        width: 100%;
        position: relative;
        background-color: lightgrey;
    }
    .subMenu .item:hover{
        background-color: grey;
    }
    .dropdown:hover .subMenu{
        display: none;    
    }
}