h1 {
    color: white;
}

button:disabled div {
    color: silver;
}

div {
    text-align: center;
}

button {
    background-image: url('/img/blank-button.png');
    width: 417px;
    height: 63px;
    border: none;
    background-position: center;
    margin: 1px;
    overflow: hidden;
    padding: 0px;
}

button div {
    width: 100%;
    height: 100%;
    font-size: 40px;
    color: white;
    font-weight: normal;
    font-family: Verdana;
    margin: 0px;
    padding: 0px;
}

#download {
    display: none;
}

.ui-button {
    width: auto !important;
    height: auto !important;
}

.ui-dialog-titlebar-close {
    display: none;
}

.ui-dialog {
    width: 500px !important;
}

.ui-dialog-buttonset {
    width: 100%;
}

.ui-dialog .ui-dialog-buttonpane {
    padding: 0.3em !important;
}

.ui-dialog-title {
    width: 100% !important;
}