@font-face {
    font-family: 'pussycat_snickers';
    src: url('../../fonts/pusss___-webfont.eot');
    src: url('../../fonts/pusss___-webfont.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/pusss___-webfont.woff') format('woff'),
    url('../../fonts/pusss___-webfont.ttf') format('truetype'),
    url('../../fonts/pusss___-webfont.svg#pussycat_snickers') format('svg');
    font-weight: normal;
    font-style: normal;
}
body{
    background-color: black;
    color: white;
    font-family: Helevetica, Arial, Sans-Serif;
}
h1 {
    font-family: 'pussycat_snickers';
    font-size: 60px;
    margin: 30px;
    text-align: center;
    width: 100%;
    color: red;
    decoration: none;
}

#manuals-table {
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    border-collapse: collapse;
}

#manuals-table th {
    font-size: 30px;
    padding: 10px;
    text-align: left;
    text-decoration: underline;
}

#manuals-table td {
    vertical-align: top;
    width: 300px;
    max-width: 300px;
}

#manuals-table td.text {
    min-width: 300px;
}

#manuals-table input, #manuals-table textarea {
    width: 98%;
}

textarea {
    height: 200px;
}

#manuals-table td.actions input {
    width: 98%;
}

#manuals-table td.actions {
    min-width: 0px !important;
    width: 70px;
}

.new-title {
    font-weight: bold;
    text-align: center;
}

.image {
    width: 300px !important;
}

.title {
    height: 18px;
    width: 350px;
}

#manuals-table tr.border td {
    border: 2px solid black;
}

.take {
    float: right;
}
