.active {
	background-color: grey;
	display: block;
}

.tab-view{
	display: none;
}

.tab-view-section{

}

.tabs{
	display: none;
	overflow-y: scroll;
}

.tab-button{
	height: 100px;
}


.fixed{
	position: fixed;
}

