Thank you very much for your booking with Bungy Japan.<br /><br />
We regret to inform you however, that due to an extended period of time<br />
between registration and confirmation of this booking, the requested<br />
timeslot has become full. Please continue <a href="/Booking/">here</a> to choose another timeslot.<br />
