Thank you very much for your booking with Bungy Japan.<br /><br />
The link which you have clicked has already been used and the booking confirmed.<br />
If you have any questions regarding your booking, please call us at 0278-72-8133.<br />
<br />
