	<h1 align="center">An email with your details has been sent to you.</h1>
        <h2 align="center" style="color: #FF0000">Thank you very much!  Your booking has been confirmed. </h2><p>
        <h2 align="center">Please report to reception as close to your booking time as possible. </h2><p>
<hr>
        <p align="center" style="font-weight:bold">Also, please note the following important Policies & Conditions:
</p> 
    <div align="center">
<p align="left">
<table cellspacing="0" cellpadding="0" align="left">
<tr>
	<td valign="top"><p><strong>1) Cancellation Policy -&nbsp;</strong></p></td>
	<td><p align="left">If your booking is cancelled, in full or in part, on the day before your scheduled jump, a 50% cancellation fee will be levied.</p>
          <p align="left">If your booking is cancelled, in full or in part, on the day of your scheduled jump, a 100% cancellation fee will be levied. </p>
	</td>
</tr>
</table>
<p><br />
  <br />
  <br />
</p>  <br />
<p align="left"><strong>2) No Alcohol</strong> - Anyone found to have been drinking alcohol prior to their jump will not be allowed to jump. </p>
      <p align="left"><strong>3) Group Payment</strong> - We ask that, when you check-in, the jump charges be paid for as a group, not individually. Cash only, please.</p>
      <p align="left"><strong>4) Weather Policy</strong> - Bungy jumping is done rain or shine, so please bring rainwear or a change of clothes if rain is forecast. </p>
      <p align="left"><strong>5) Physical & Medical Conditions</strong> also apply, so please click <a href="/en/index.php/booking/sections/C40/">here</a> and confirm that you will be eligible to jump. </p>
    </div>
<hr>
<p>
            
    <h2 align="center">For the answers to other Frequently Asked Questions, click <a href="/en/index.php/sites/sections/C9/">here.</a> </h2><br>
                
           
            <h1 align="center" style="color: #FF0000">See you on the bridge!</h1>
