body {
    background-color: white;
}

input {
    margin: 0px;
    line-height: 16px;
    height: 20px;
}

#total-container * {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    font-family: helvetica, sans-serif;
    font-size: 12px;
}

#total-container {
    width: 700px !important;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.datetime {
    width: 25%;
    display: block;
    float: left;
}

.datetime input {
    width: 50%;
}

#date-time-container {
    height: 30px;
}

#staff-container {
    border: 2px black solid;
    position: relative;
}

#staff-title {
    height: 270px;
    border-right: 1px black solid;
    width: 10%;
    padding-top: 90px;
}

#staff-values {
    width: 90%;
    margin-left: 10%;
    position: absolute;
    top: 0px;
}

.staff-field {
    float: left;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3px;
    margin-bottom: 3px;
}

.staff-field input, .staff-field select {
    width: 80%;
    border: none;
    border-bottom: 1px solid black;
    height: 19px;
}

#weather-container {
    padding-top: 10px;
}

#water-levels-container {
    float: left;
    width: 100%;
    position: relative;
    clear: both;
    height: 78px;
    overflow: hidden;
}

.title, .value {
    border: none;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    padding: 5px;
    height: 29px;
}

.total-value {
    border: 1px solid black;
    padding: 5px;
    height: 29px;
}

#daily-jump-total-title, #old-monthly-jump-total-title, #monthly-jump-total-title {
    height: 29px;
    border: 1px solid black;
    line-height: 9px;
    font-size: 7pt;
    font-weight: bold;
}

#total-container * .title2 {
    font-size: 14pt;
    border: none;
    border-bottom: 2px solid black;
    border-right: 1px solid black;
}

.small-title {
    border: none;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    padding: 0px;
    height: 17px;
}

.half {
    float: left;
    width: 50%;
}

.third {
    float: left;
    width: 33.3%;
}

.quarter {
    float: left;
    width: 25%;
}

.divider {
    float: left;
    width: 0px;
    height: 20px;
    border: none;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

.border-solid {
    border: 2px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

.bold {
    font-weight: bold;
}

.input-inside input, .input-inside select {
    border: 1px solid;
    border-color: #EEEEEE;
    width: 90%;
}

.center {
    text-align: center !important;
}

#water-levels-container input, #levels-container input {
    border: none;
    width: 80%;
    text-align: center;
}

#levels {
    float: left;
    width: 20%;
}

#levels-container {
    width: 100%;
    float: left;
    margin-top: 21px;
    height: 49px;
}

#weather {
    float: left;
    width: 49%;
    margin-left: 1%;
}

#weather-description {
    float: left;
    width: 29%;
    margin-left: 1%;
}

#weather-description .value {
    height: 116px;
}

#weather-description .value textarea, #equipment-changes textarea {
    width: 100%;
    height: 100%;
    border: none;
}

.spacer {
    margin-top: 10px;
}

#jumpers-container {
    float: left;
    width: 59%;
    margin-right: 2%;
}

#equipment-changes-container {
    float: left;
    width: 39%;
    overflow: hidden;
}

#equipment-changes-container input {
    font-size: 10px;
    line-height: 12px;
    height: 14px;
}

.width40 {
    float: left;
    width: 40%;
}

.width30 {
    float: left;
    width: 30%;
}

.width20 {
    float: left;
    width: 20%;
}

.width10 {
    float: left;
    width: 10%;
}

.width15 {
    float: left;
    width: 15%;
}

.width80 {
    float: left;
    width: 80%;
}

.border-bottom {
    border-bottom: 1px solid black;
}

.border-right {
    border-right: 1px solid black;
}

#equipment-changes {
    height: 94px;
    border-bottom: 2px solid black;
}

#total-container * .small {
    font-size: 10pt;
    line-height: 14px;
    height: 16px;
    text-align: left;
    overflow: hidden;
}

#total-container * .verysmall {
    font-size: 8pt;
    line-height: 14px;
    height: 16px;
    text-align: left;
}

.small input {
    height: 14px;
    border: none;
}

#total-container .small input[type="radio"] {
    position: relative;
    float: none;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    display: inline-block;
    -webkit-appearance: radio;
    width: 14px;
    height: 14px;
    top: -1px;
}

.left {
    float: left;
}

#bungy-cords {
    width: 100%;
}

#cord-total {
    width: 100%;
    height: 100%;
    border: 1px solid;
    border-color: #EEEEEE;
}

#today-bookings, #incident_report {
    width: 100%;
}

#incident-report-textarea {
    height: 99%;
    width: 99%;
    margin: 0px;
    border: 1px solid #EEEEEE;
}

#report-title {
    padding-top: 20px;
    padding-bottom: 40px;
    font-size: 16pt;
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
}

.align-left {
    text-align: left;
    padding-left: 5px;
}

#eq-ir-no {
    position: relative;
    top: 5px;
}

#eq-ir-yes {
    position: relative;
    top: 5px;
    left: -5px;
}

.level {
    height: 28px;
    padding: 0px;
}

.level input {
    position: relative;
    top: 5px;
    left: 0px;
}

.border-bottom3 {
    border-bottom: 3px solid black !important;
}

#buttons {
    clear: both;
    margin-top: 30px;
    margin-bottom: 60px;
    height: 49px;
    border: 1px solid #EEEEEE;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

#buttons button {
    float: left;
    background-color: #FFFF66;
    border: 1px solid black;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    font-size: 14pt;
    padding: 5px;
    margin: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

#buttons #submit {
    float: right;
}
