#add-zip-file{
    width: 100%;
    height: 50px;
    font-size: 25px !important;
    font-family: helvetica, sans-serif;
    background-color: orangered;
    color: white;
    border-radius: 5px;
}

#total-container * {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    z-index: -100;
    font-family: helvetica, sans-serif;
    font-size: 10pt;
}

#total-container * {
    z-index: 100;
}

#total-container {
    width: 700px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

#total-container * select {
    width: 99%; 
    height: 99%;
    border: none;
    border-bottom: 1px solid black;
    float: left;
}
/* add 2020-02-21 - add some changes ↓ */
#inoted_name {
    width: 50%;    
}

#icompleted_name{
    width: 90%;    
}
/* end ↑ */
#total-container div {
    /* height: 20px; */
}

#total-container * input {
    width: 99%;
    height: 99%;
    border: 1px solid #EEEEEE;
}

#total-container * textarea {
    width: 100%;
    height: 100%;
    border: 2px solid black;
    height: 180px;
}

.left {
    float: left;
    height: 20px;
}

#incident-date-value {
    margin-left: 80px;
    width: 100px;
    height: 20px;
}

#noted-value {
    margin-left: 250px;
}

.trans-jp {
    clear: both;
    width: 100%;
    margin-left: 0px;
    text-align: left;
    height: 20px;
}

.borderb {
    border-bottom: 1px solid black;
    height: 20px;
}

.half {
    width: 50%;
    float: left;
}

.margin160 {
    margin-left: 160px;
}

.margin205 {
    margin-left: 205px;
}

.margin175 {
    margin-left: 175px;
}

.margin120 {
    margin-left: 120px;
}

.margin275 {
    margin-left: 275px;
}

.margin250 {
    margin-left: 250px;
}

.margin300 {
    margin-left: 300px;
}

#total-container * .alignleft {
    margin-top: 10px;
    height: auto;
    text-align: left;
}

#incedent-classification-title-values {
    height: 80px;
}

#total-container #incedent-classification-title-values div {
    position: relative;
    width: 33.3%;
    float: left;
}

#total-container #incedent-classification-title-values div input {
    width: 20px;
    height: 20px;
    border: none;
}

#report-title {
    padding-top: 20px;
    padding-bottom: 40px;
    font-size: 16pt;
    font-weight: bold;
    text-decoration: underline;
    text-align: left;
}

#buttons {
    margin-top: 30px;
    margin-bottom: 60px;
    height: 49px;
    border: 1px solid #EEEEEE;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

#buttons button {
    float: left;
    background-color: #FFFF66;
    border: 1px solid black;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    font-size: 14pt;
    padding: 5px;
    margin: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

#buttons #submit {
    float: right;
}

.picturesLabel {
    clear: none;
    float: left;
    display: inline;
    clear: none;
    width: auto;
}

#total-container * .radioPhoto {
    clear: none;
    float: left;
    display: inline;
    clear: none;
    width: 30px;
}

.radioLabels {
    clear: none;
    float: left;
    display: inline;
    clear: none;
    width: auto;
}

#picturesSupplied {
    float: left;
    clear: none;
    float: left;
    display: inline;
    clear: none;
    width: auto;
}

#incidentReporter {
    clear: left;
    float: left;
}

#noted-name {
    clear: left;
}

#colorstrip{
    width: 100%; height: 30px;
    border-style: solid;
    border-color: orangered;
    background-color: orangered;
}
