@font-face {
    font-family: 'pussycat_snickers';
    src: url('../fonts/pusss___-webfont.eot');
    src: url('../fonts/pusss___-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pusss___-webfont.woff') format('woff'),
         url('../fonts/pusss___-webfont.ttf') format('truetype'),
         url('../fonts/pusss___-webfont.svg#pussycat_snickers') format('svg');
    font-weight: normal;
    font-style: normal;
}
 input, input[type='text'], input:disabled {
	color: white;
	-webkit-text-fill-color: rgba(255, 255, 255, 1); 
	-webkit-opacity: 1; 
	background: #333333;
}
.header-container {
	font-size: 18px;
	color: red;
	line-height: 1em;
	padding: 0;
	overflow: hidden;
	margin: 0;
}
.header-container h1 {
	font-family: 'pussycat_snickers';
	font-size: 130px;
	line-height: 1em;
	font-weight: normal;
	padding: 0;
	margin: 0;
	text-transform: uppercase;
}
.header-container h2 {
	font-family: 'pussycat_snickers';
	font-size: 34px;
	line-height: 1em;
	font-weight: normal;
	padding: 0;
	margin: 0;
	text-transform: lowercase;
}
#step2 .header-container h1 .lang_ja {
	font-size: 100px;
	line-height: 100px;
}
#step3 .header-container h1 {
	font-size: 100px;
}
#step3 .header-container h1 .lang_ja {
	font-size: 70px;
	line-height: 70px;
}
#step4 .header-container h1 {
	font-size: 72px;
}
#step5 .header-container h1 {
	font-size: 86px;
	text-transform: lowercase;
}
#step5 .header-container h1 .lang_ja {
	font-size: 74px;
}
#step6 .header-container h1 {
	font-size: 130px;
	text-transform: lowercase;
}
#step6 .header-container h1 .lang_ja {
	font-size: 100px;
}
#step7 .header-container h1 .lang_ja {
	font-size: 100px;
}
#step8 .header-container h1 {
	font-size: 130px;
	text-transform: lowercase;
}
#step8 .header-container h1 .lang_ja {
	font-size: 75px;
}
#step9 .header-container h1 {
	font-size: 130px;
	text-transform: lowercase;
}
#step9 .header-container h1 .lang_ja {
	font-size: 70px;
}
#step10 .header-container h1 .lang_ja {
	font-size: 60px;
}
#step12 .header-container h1 {
	font-size: 130px;
	text-transform: lowercase;
}
#step12 .header-container h1 .lang_ja {
	font-size: 80px;
}
#step13 .header-container h1 {
	margin-top: 60px;
	font-size: 80px;
	line-height: 80px;
	text-transform: uppercase;
	width: 100%;
}
#step13 .header-container h1 span.lang_ja {
	text-transform: none;
	font-size: 50px;
	line-height: 80px;
}
#step13 .header-container h2 {
	width: 100%;
}
#step14 .header-container h1 {
	font-size: 100px;
	text-transform: lowercase;
}
#step14 .header-container h1 span.lang_ja {
	text-transform: none;
	font-size: 80px;
	line-height: 80px;
}
#step15 .header-container h1 {
	font-size: 100px;
	text-transform: lowercase;
	margin-bottom: 30px;
}
#step15 .header-container h2 {
	margin-top: 50px;
	font-size: 60px;
}

* {
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
}
html {
	overflow: hidden;
}
body {
	margin: 0px;
	padding: 0px;
	background-color: black;
}
#ff-fix {
	width: 100%;
	height: 40px;
}
body div {
	text-align: center;
}
.refresh {
}
.refresh button {
	font-family: 'pussycat_snickers';
	width: 140px;
	height: 70px;
	border: 2px silver solid;
	font-size: 50px;
	color: black;
	border-top-color: white;
	border-left-color: white;
	background-color: #b11;
}
.reset {
	position: absolute;
	top: 40px;
	left: 0px;
}
.back {
	position: absolute;
	top: 830px;
	left: 0px;
	z-index: 100;
}
.back button {
	font-family: 'pussycat_snickers';
	font-size: 48px;
	color: red;
	width: 105px;
	height: 80px;
	background-color:white;
	border: 2px solid silver;
	float: left;

}
.back button .lang_ja {
	font-size: 38px;
}
/* For dialogs */
.alert {
	font-size: 40px;
}
.alert .ui-dialog-titlebar-close {
  display: none;
}
.alert .ui-dialog-title {
	width: 100%;
}
#waiver-container {
	margin-top: 10%;
	width: auto;
}
.header-container {
	text-align: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	margin-top: 20px;
	width: 100%;
}
#language-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	padding-top: 5%;
}
#english-container {margin-right: 5%;}
#japanese-container {
}
#step1-add-info {
	font-family: 'pussycat_snickers';
	font-size: 30px;
	color: red;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	margin-top: 2%;
}
* button {
	padding: 0px;
	margin: 0px;
	border: 0px none;
	background-color: black;
	overflow: visible;
}
/* Step2 CSS */
#map1280 {
position : absolute;
width: 100%;
top: 0px;
left: 0px;
margin-left: auto;
margin-right: auto;
}
#map1280 div {
	border: 1px dashed red;
	width: 1280px;
	height: 1024px;
}
#step2 #bottom-container button {
	width: 700px;
	height: 150px;
	margin-top: 50px;
	background-color: #f00;
	border: 2px solid white;
	font-family: 'pussycat_snickers';
	font-size: 100px;
	color: black;
	text-align: center;
	text-transform: uppercase;
	line-height: 150px;
	font-weight: normal;
	
}
/* step 3 */
#content-container {display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-pack: center;-ms-flex-pack: center;justify-content: center;}
#photo-example {
}
#photo-number {width: 50%;}
#photo-number input {
	width: 100%;
	height: 218px;
	margin-top: 4px;
	font-size: 200px;
	line-height: 200px;
	text-align: center;
	padding: 0px;
	margin: 0px;
}
#photo-dho {
}
#photo-dho button {
	font-family: 'pussycat_snickers';
	font-size: 60px;
	text-align: center;
	color: black;
	height: 220px;
	margin-top: 3px;
	width: 220px;
	background-color: red;
	border: 1px solid white;
}
#photo-dho button .lang_ja {
	font-size: 50px;
}
#photo-keyboard-container {
	padding-top: 20px;
	text-align: center;
}
.photo-keyboard {
	margin-left: auto;
	margin-right: auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	width: 50em;
}
.keyboard-button {
	padding: 3px;
}
.keyboard-button button {
	color: white;
	font-size: 100px;
	font-weight: bold;
	border: 2px solid;
	border-color: #fff #eee #fff #eee;
	padding-left: 20px;
	padding-right: 20px;
	height: 170px;
	width: 135px;
}
#enter-del-container {
	height: 100px;
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	margin-top: 10px;
}
#enter {
}
#del {
}
#enter button {
	font-family: 'pussycat_snickers';
	font-size: 90px;
	line-height: 100px;
	text-align: center;
	color: black;
	background-color: #0f0;
	width: 300px;
	height: 90px;
	border: 2px solid white;
}
#del button{
	font-family: 'pussycat_snickers';
	font-size: 90px;
	line-height: 100px;
	text-align: center;
	color: white;
	background-color: red;
	width: 300px;
	height: 90px;
	border: 2px solid white;
}
#step4 #content-container {
	height: auto;
	font-family: 'pussycat_snickers';
	font-size: 18px;
	line-height: 1em;
	color: #b11;
	padding: 0px;
	margin: 0px;
	padding-left: 20px;
	padding-right: 20px;
	font-weight: bold;
	text-align: justify;
}
#step4 #content-container .lang_ja p {
	line-height: 1.2em;
}
#step4 #content-container .lang_en p {
	line-height: 0.9em;
	font-size: 26px;
	font-weight: normal;
	margin-top: 18px;
	margin-bottom: 18px;
}
#step4 #content-container .lang_en p.numerable {
	text-indent: -20px;
	padding-left: 20px;
	margin-top: 5px;
	margin-bottom: 5px;
}
#agreement-container {
	font-size: 16px;
	font-weight: bold;
	color: red;
	padding: 0;
	padding-left: 10px;
	overflow: hidden;
	margin: 0;
	margin-left: auto;
	margin-right: auto;
	width: 1200px;
	text-align: left;
}
#agree-exit-container {
	margin-right: 50px;
	margin-left: 50px;
}
#agree-exit-container button {
	font-family: 'pussycat_snickers';
	font-size: 100px;
	line-height: 100px;
	text-align: center;
	width: 450px;
	height: 100px;
	background-color: red;
	border: 2px solid;
	border-color: white silver silver white;
}
#agree-exit-container button .lang_ja {
	font-size: 75px;
	padding: 0px;
}
#agree, #exit {
	padding-top: 20px;
	float: left;
	width: 50%;
}
#step5 #enter-del-container {
	padding-top: 20px;
}
#step6 .header-container {
	margin-top: 40px;
	margin-bottom: 40px;
}

#step6 #birthdate-container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

#step6 #birth-month-container {
	height: auto;
}
#step6 #birth-month {
	margin-right: 80px;
	margin-left: 160px;
}
#step6 #birth-month-value input {
	width: 400px;
	height: 204px;
	font-size: 130px;
	line-height: normal;
	text-align: center;
	padding: 0px;
	margin: 0px;
}
#step6 #birth-month-value input::-webkit-input-placeholder {
	line-height: 200px;
	font-size: 180px;
}
#step6 #birth-month-container .keyboard-container {
	width: 460px;
	margin-right: 50px;
	margin-left: 140px;
}
#step6 #birth-month-container .keyboard-button {
    float: left;
    padding: 5px;
}
#step6 #birth-month-container .keyboard-container button {
	font-size: 40px;
	font-weight: bold;
    border: 2px solid;
    color: white;
    border-color: #fff #eee #fff #eee;
    padding-left: 5px;
    padding-right: 5px;
	height: 100px;
	width: 100px;
}
#step6 #birth-month-container .keyboard-container .lang_ja button {
	font-size: 36px;
}
#step6 #birth-day-container {
}
#step6 #birth-day {
	width: 450px;
	height: 200px;
}
#step6 #birth-day input {
	width: 300px;
	height: 100%;
	font-size: 180px;
	line-height: 180px;
	text-align: center;
	padding: 0px;
	margin: 0px;
}
#step6 .keyboard-container {
	width: 500px;
	height: 330px;
	margin-top: 30px;
	margin-bottom: 30px;
}
#step6 #birth-day button {
	border: 2px solid;
    border-color: #fff #eee #fff #eee;
	background-color: red;
	height: 200px;
	width: 145px;
	padding: 0px;
	margin: 0px;
	font-family: 'pussycat_snickers';
	color: white;
	font-size: 120px;
}
#step6 #birth-day button .lang_ja {
	font-size: 85px;
	line-height: 1em;
}
#step6 #birth-day-container .keyboard-button {
    float: left;
    padding: 0px;
}
#step6 #birth-day-container .keyboard-button button {
    color: white;
    font-size: 100px;
    font-weight: bold;
    border: 2px solid;
    border-color: #fff #eee #fff #eee;
    padding-left: 5px;
    padding-right: 5px;
    width: 90px;
}
#step6 #enter-container {
	width: 100%;
}
#bidth-day-value, #bidth-day-del-button {
	float: left;
	height: 100%;
}
#step6 #enter {
	margin-left: 0px;
	width: 100%;
	text-align: center;
}
#step6 #enter button {
	width: 800px;
	height: 100px;
	line-height: 90px;
	padding-top: 10px;
}
/* step 7 */
#step7 .header-container {
	margin-top: 120px;
	margin-bottom: 120px;
}
#step7 #male-female-container {display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-orient: vertical;-webkit-box-direction: normal;-ms-flex-direction: column;flex-direction: column;width: 100%;-webkit-box-align: center;-ms-flex-align: center;align-items: center;}
#step7 #male-button {
    width: 80%;
}
#step7 #female-button {width: 80%;}
#step7 #male-female-container button {
	font-size: 100px;
	font-weight: bold;
	border: 2px solid;
    border-color: #fff #999 #fff #999;
	color: white;
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 20px;
	padding-right: 20px;
	width: 100%;
}
/* STEP 8-9 */
#name-container {
	height: 150px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
#name-container div {
}
#name-container #name-input-container {
	height: 150px;
}
#name-container #name-input-container input {
	height: 100%;
	font-size: 90px;
	line-height: 150px;
	margin: 0px;
	padding: 0px;
	text-align: center;
}
#name-container button {
	height: 150px;
	border: 2px solid white;
	margin-left: 5px;
	margin-right: 5px;
	padding-left: 20px;
	padding-right: 20px;
}
#del-button button {
	background-color: red;
}
#enter-button button {
	background-color: #00FF00;
}
#del-button button, #enter-button button {
	font-family: 'pussycat_snickers';
	color: white;
	font-size: 100px;
}
#del-button button .lang_ja, #enter-button button .lang_ja {
	font-size: 70px;
}
#alert-container img {
	margin-top: 5px;
}
#step8 .header-container {
	margin: 0px;
	margin-top: 20px;
}
#step8 #keyboard-container, #step9 #keyboard-container, #step10 #keyboard-container, #step12 #keyboard-container {
	margin-left: auto;
	width: 100%;
	margin-right: auto;
	text-align: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}
#step8 #keyboard-container .keyboard-line, #step9 #keyboard-container .keyboard-line, #step10 #keyboard-container .keyboard-line, #step12 #keyboard-container .keyboard-line {
	margin-right: auto;
	margin-top: 4px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
#step8 #keyboard-container .keyboard-button, #step9 #keyboard-container .keyboard-button, #step10 #keyboard-container .keyboard-button, #step12 #keyboard-container .keyboard-button {
	padding: 1px;
}
#step8 #keyboard-container .keyboard-button button, #step9 #keyboard-container .keyboard-button button {
	font-size: 4em;
	font-weight: bold;
	border: 2px solid;
	border-color: #fff #999 #fff #999;
	color: white;
	height: 95px;
	width: 95px;
	text-align: center;
	padding: 0px;
}

#step8 #keyboard-container #space.keyboard-button button, #step9 #keyboard-container #space.keyboard-button button {
	width: 500px;
	line-height: 110px;
}
#step9 .header-container {
	margin: 0px;
	margin-top: 20px;
}
/* STEP 10 */
#step10 #place-container {
	font-size: 24px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
#step10 .perfs-col {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
	width: 150px;
	margin: 1px;
}
#step10 .perfs-cell {
	height: 60px;
	width: 100%;
}
#step10 .perfs-cell button {
	font-size: 16px;
	height: 60px;
	background-color: black;
	color: white;
	border: 2px solid white;
	width: 100%;
}
#step10 .perfs-title {
	background-color: white;
	color: black;
	height: 60px;
	width: 100%;
}
#post-code input {
	height: 100%;
	width: 100%;
	font-size: 150px;
	text-align: center;
}
/* STEP 11 */
#step11 #street-container {
	height: 143px;
}
#step11 #keyboard-container div {
	display: table;
	width: 100%;
	height: 125px;
}
#step11 #keyboard-container div.keyboard-line0 {
	display: table;
	width: 100%;
	height: 100px;
}
#step11 #keyboard-container div.keyboard-line0 div.keyboard-button {
	height: 100px;
}
#step11 #keyboard-container div.keyboard-button {
	display: table-cell;
	width: 128px;
	padding: 10px;
	height: 155px;
}
#step11 .keyboard-line0 .keyboard-button button {
	font-size: 50px;
	height: 80px;
	width: 60px;
}
#step11 .keyboard-button button {
	height: 100%;
	width: 100%;
	text-align: center;
	font-size: 70px;
	padding: 0;
}
#step11 .keyboard-line3 {
	padding-left: 90px;
}
#step11 #space.keyboard-button button {
	width: 700px;
	margin-left: 290px;
}
#step11 #enter-del-container {
	position: absolute;
	top: 691px;
	left: 1070px;
	width: 200px;
}
#step11 #enter-del-container div {
	float: right;
}
#step11 #del {
	margin: 0;
	padding: 0;
}
#step11 #del button {
	height: 135px;
	width: 150px;
	float: right;
}
#step11 #enter button {
	margin-top: 20px;
	width: 250px;
	height: 135px;
}
/* STEP 12 */
#step12 #content-container {
	height: 180px;
}
#phone-number {
	width: 715px;
	margin-left: auto;
	margin-right:  auto;
	height: 100%;
}
#phone-number input {
	height: 100%;
	width: 100%;
	font-size: 110px;
	text-align: center;
	padding: 25px 0px 25px 0px;
	line-height: 130px;
}
#step12 #keyboard-container .keyboard-button button {
	margin-left: 10px;
	margin-right: 10px;
}
/* STEP 13 */
#step13 .header-container {
	margin-top: 46px;
	margin-bottom: 0px;
}
/* bypass button */ 
#rather-not {
	position: absolute;
	top: 20px;
	left: 940px;
}
#rather-not button {
	font-family: 'pussycat_snickers';
	background-color: #0f0;
	border: 2px solid white;
	height: 80px;
	width: 330px;
	font-size: 60px;
	line-height: 60px;
}
/* email container and input field */
#step13 #email-input-container {
	margin: 24px;
}
#step13 input {
	height: 50px;
	font-size: 50px;
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
}
#step13 .keyboard-container {
	display: table;
}  
#step13 .keyboard-line0 {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	width: 100%;
	margin: 0px;
	padding: 0px;
}
#step13 .keyboard-button {
	display: table-cell;
}
#step13 .keyboard-line0 .keyboard-button button {
	font-size: 50px;
	height: 80px;
	width: 80px;
	padding: 0px;
	text-align: center;
	margin-left: 9px;
	margin-right: 9px;
}
#step13 .keyboard-line {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    margin: 0px;
    padding: 0px;
}
#step13 .keyboard-line .keyboard-button {
	padding: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}
#step13 .keyboard-line .keyboard-button button {
    font-size: 70px;
    height: 90px;
    width: 90px;
    padding: 0px;
    text-align: center;
}

#step13continue, #step13exit {
	border: 2px solid white;
	background-color: red;
	height: 180px;
	width: 300px;
	margin-left: 50px;
	margin-right: 50px;
}
#step13 #domains-container {-webkit-box-pack: center;-ms-flex-pack: center;justify-content: center;display: -webkit-box;display: -ms-flexbox;display: flex;-ms-flex-wrap: wrap;flex-wrap: wrap;}
#step13 .domains-row {
	display: table-row;
	margin: 0px;
	padding: 0px;
}
#step13 .domains-cell {
	display: table-cell;
	padding: 2px;
	margin: 0px;
	vertical-align: middle;
}
#step13 #domains-container button {
	color: white;
	border: 2px solid white;
	height: 54px;
	text-align: center;
}
.first-cell button {
	width: 90px;
	font-size: 24px;
	line-height: 20px;
}
.second-cell button {
	width: 130px;
	font-size: 18px;
	line-height: 20px;
}
.third-cell button {
	width: 140px;
	font-size: 18px;
	line-height: 20px;
}
#step13 #enter-del-container {
}
#step13 #enter-del-container button {
	height: 100px;
	font-size: 100px;
	line-height: 110px;
	text-transform: uppercase;
}
#step13 #enter, #step13 #del {
	margin: 0px;
	padding: 0px;
	margin-right: 40px;
}
#step13 #del button {
	width: 260px;
}
#step13 #enter button {
	width: 300px;
}
/* STEP 14 */
#step14 #waiver-signature {
	margin-top: 20px;
	height: 600px;
	width: 1000px;
	background-color: white;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
#actions-container {
	display: table;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
}
#actions-container div {
	display: table-cell;
}
#actions-container button {
    height: 120px;
	width: 400px;
    border: 2px solid white;
    margin-left: 25px;
    margin-right: 25px;
    padding-left: 20px;
    padding-right: 20px;
	font-family: 'pussycat_snickers';
	font-size: 100px;
	line-height: 1em;
	font-weight: normal;
	text-transform: lowercase;
}
/* STEP 15 */
#step15 .header-container {
	margin-top: 250px;
	margin-bottom: 100px;
}

#step16 #photo-number{
    margin-left: 305px;
}

#step16 #keyboard-container .keyboard-button button, #step9 #keyboard-container .keyboard-button button {
	font-size: 4em;
	font-weight: bold;
	border: 2px solid;
	border-color: #fff #999 #fff #999;
	color: white;
	height: 95px;
	width: 95px;
	text-align: center;
	padding: 0px;
}

.restart-container {
	font-size: 20px;
	color: white;
}
#names-container-child {
    width: 850px;
    height: 480px;
    overflow: hidden;
	margin: auto;
	/*-webkit-overflow-scrolling: touch;*/
	-webkit-transform: translate3d(0, 0, 0);
	background-color: white;
	border-radius: 10px;
}
.scrollable select {
    width: 100%;
	height: 100%;
    font-size: 60px;
    margin: 0;
    padding: 0;
}
ul#booking-list {
	width: 100%; 
	font-size: 50px;
	margin: 0;
	padding: 0;
}
ul#booking-list li {
	display: block;
	font-size: 70px;
	text-align: left;
	padding-left: 20px;
	padding-right: 20px;
	cursor: pointer;
	border-radius: 10px;
}
ul#booking-list li.selected {
	background-color: lightskyblue;
}
* button {
	cursor: pointer;
}
#email-note {
	position: absolute;
	top: 10px;
	left: 0px;
	font-size: 24pt;
	line-height: 26pt;
	font-family: 'pussycat_snickers';
	width: 100%;
}
#email-note .lang_ja {
	font-size: 20pt !important;
}
#step17 .header-container {
	margin-top: 250px;
	margin-bottom: 100px;
}
#next-button{
    background-color: white;
    font-family: 'pussycat_snickers';
    color: red;
    font-size: 48px;
    padding: 16px;
}