body{
    background-color: aliceblue;
    display: flex;
    justify-content: center;
}
.tableWrapper{
    background-color: white;
    width: 50%;
    height: fit-content;
    display: flex;
    border-radius: 10px;
}
table{
    width: 100%;
    border-collapse: collapse;
}
tr{
    width: 100%;
    height: 35px;
}
th{
    background-color: #c5e4ff;
}
td{
    text-align: center;
    width: 0.167%;
}
button{
    border-radius: 5px;
    outline: none;
}

button:active {
    outline: none;
}