.date-cell{
    width: 100px;
}

table{
    width: 800px;
    height: 100px;
    border-collapse: collapse;
    margin: 30px;
}

input[type="text"]{
    width: 20px;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    text-align: center;
}

td, th{
    border: 1px solid darkgrey;
    margin: 0;
    padding: 0;
    text-align: center;
    min-width:20px;
}

.site-name-box{
    width: 100px;
    height: 100%;
    text-align: center;

}
.site-name-cell{
    height: 100%;
}

.negative{
    background-color: lightpink;
}

#container{
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
}

.month-advance{
    font-size: 25px;
}

tr:hover{
    background-color: #d5d5d5;
}

h1, h2, .month-advance{
    text-align: center;
}


.site-1 { background-color: orangered; }
.site-2 { background-color: orange; }
.site-3 { background-color: yellow; }
.site-4 { background-color: greenyellow; }
.site-5 { background-color: cornflowerblue; }
.site-10{ background-color: mediumpurple; }
.site-12{ background-color: dodgerblue; }
