#waiver-table{
    width: 900px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;

}

input{
    width:200px;
    border: none;
    padding: 8px;
    background: none;
}

td{
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px black solid;
    font-size: 18px;
}

th{
    font-size: 18px;
    text-align: center;
}
h1{
    margin-left: auto;
    margin-right: auto;
    display: block;
}
tr{
    background-color: #fff;
}

tr:hover{
   background-color: #eee;
}

.no-weight{
    background-color: palevioletred;
}


button{
    height:43px;
    margin-right: 1px;
}

button:hover{
    background-color: dodgerblue;
    color: white;
}

#content{
    width: 850px;
    margin-left: auto;
    margin-right: auto;

    background-color: rgb(240, 240, 240);
    /*background-color: rgba(255, 255, 255, 0.9);*/

    padding: 20px ;
    box-sizing: content-box;

    -webkit-box-shadow: -1px 14px 60px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 14px 60px 0px rgba(0,0,0,0.75);
    box-shadow: -1px 14px 60px 0px rgba(0,0,0,0.75);
}

body{
    background: url(../images/fuji.jpg) no-repeat center center fixed;
    background-size: cover;

}