.off{
    color: #bbb;
}

.space-between{
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    jusitify-content: space-between;
}

#sites-container{
}

#chart{
    float: left;
    height: 800px;
    width: 100%;
}

#controller{
    width: 100%;
    background-color: #999;
    border: 2px;
    padding: 15px;
    border-radius: 0px 0px 8px 8px;
    /*float: left;*/
    overflow: hidden;/*Prevent */
    clear: none;
    margin: 0;
}


#controller .right-column{
    /*width: 50%;*/
    float: left;
    padding-left: 7px;
    padding-bottom: 10px;
    display: inline;
}

input[type=radio]{
    margin-left: 5px;
    margin-right: 5px;
}

select{
    width: 200px;
}

input[type=text]{
    width: 200px;
}

label{
    font-weight: 400;
}

input{
}

.controller-section-header{
    font-weight: bold;
    font-size: 16px;
}

#generate-graph{
    /*width: 100%;*/
    height: 30px;
    font-size: 20px;
}
#controller-hider{
    width: 350px;
}
/*
label{
    width: 200px;
}
*/
.custom-duration{
    display: none;
}

#generate-graph{
    clear: both;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
