.tp-caption.bungydarkred {
font-size:100px;
line-height:30px;
font-weight:800;
font-family:Oxygen;
color:rgb(255, 255, 255);
text-decoration:none;
background-color:rgb(0, 0, 0);
background-color:rgba(0, 0, 0, 0);
padding:3px 6px 9px;
border-width:0px;
border-color:rgb(255, 255, 255);
border-style:none;
}

.tp-caption.bungy2 {
font-size:36px;
line-height:20px;
font-weight:800;
font-family:"Open Sans",sans-serif;
color:#ffffff;
text-decoration:none;
background-color:transparent;
margin:0px;
white-space:nowrap;
border-width:0px;
border-color:rgb(255, 255, 255);
border-style:none;
}

.tp-caption.safety {
font-size:12px;
line-height:28px;
font-weight:300;
font-family:"Open Sans";
color:rgb(255, 255, 255);
text-decoration:none;
background-color:transparent;
padding:0px;
border-width:0px;
border-color:rgb(255, 214, 88);
border-style:none;
}

.tp-caption.bungywhite {
font-size:50px;
line-height:60px;
font-weight:800;
font-family:"Open Sans";
color:#ffffff;
text-decoration:none;
background-color:transparent;
border-width:0px;
border-color:rgb(255, 214, 88);
border-style:none;
}

