#bungy-logo{
    height: auto;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    display:block;
}

.people-list{
    font-size: 50px;
    list-style-type: none;
    text-align: center;
    display:block;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    text-transform: capitalize;
}

