.pageTable{
	width: 500px;
}

.odd{
	background-color:#eee;
}

.headerBar{
	padding-top: 0px;
	background-color:black;
	width:100%;
	height: 60px;
	color: white;
}
.headerUnderline{
	width: 100%;
	height: 10px;
	background-color: red;
}

.footerBar{
	background-color: black;
	height: 50px;
}


.footerBar p{
	color: white;
	font-size: 9pt;
	float: right;
}


.even{
	background-color:white;
}

/*#2a6496*/
.even:hover, .odd:hover{
	background-color:#ccc;
}

a{
	color:#519ce4;
}

.rowDanger {
	color: red;
}

.rowDanger a{
	color: red;
}

.blackCell{
	background-color: black;
	color: white;
}

.whiteCell{
	background-color: white;
	color: black;
}
 
.rowDanger:hover, .rowDanger:hover a{
	color: white;
	background-color: red;
}

table,th,td {
	border:1px solid grey;
	border-collapse:collapse;
	text-align:center;
}
