h1 {
	color: white;
}

body{
	color: white;
	background-color: black;
}
button:disabled div {
	color: silver;
}
div {
	text-align: center;
}

input[type="file"]{
	display:inline;
}
.inputBox{
	border: none;
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 90px;
	width: 417px;
}

button, .button{
	background-image: url('../img/blank-button.png');
	width: 417px;
	height: 63px;
	border: none;
	background-position: center;
	margin: 1px;
	overflow: hidden;
	padding: 0px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	cursor: pointer;
}

.button{
	font-size: 40px;
	color: white;
	font-weight: normal;
	font-family: Verdana;
}

button div {
	width: 100%;
	height: 100%;
	font-size: 40px;
	color: white;
	font-weight: normal;
	font-family: Verdana;
	margin: 0px;
	padding: 0px;
}
#container-table {
	width: 100%;
}
#container-table td {
	width: 100%;
	text-align: center;
}   

.uploadTable{
    width:417px; 
	margin-left: auto; 
	margin-right: auto; 
	margin-bottom: 10px; 
}
