* { 
	margin: 0; padding: 0; 
}

a img { 
	border: 0; 
}

a {
	outline:none;
}

img { 
	behavior: url(../iepngfix.htc) 
}

form {
	margin: 0;
	padding: 0;
}

body {
	background: #000000;
	font-size: 12px;
	font-family: "Lucida Sans Unicode", Geneva, Veranda, Arial, sans-serif;
	margin: 0; 
	padding: 0;
	color: #fff;
}
	
#wrap {
	background: #000;
	width: 900px;		
	margin: 0 auto;
	padding: 0;
}

#headerWrap {
	background: transparent url(../assets/elements/header_wrap.jpg) no-repeat left top;
	float: left;
	position: relative;		
	width: 900px;
	height: 240px;
	margin: 0;
	padding: 0;
}

#topBar {
	background: transparent url(../assets/elements/blank.gif) no-repeat left top;
	float: left;
	position: relative;		
	width: 900px;
	height: 44px;
	margin: 0;
	padding: 0;
}

#langNav {
	background: transparent;
	margin: 13px 0 0 27px;
	padding: 0;
	color: #fff;
}

#langNav a {
	color: #fff;
	text-decoration: none;
}

#header {
	background: transparent url(../assets/elements/blank.gif) no-repeat left top;	
	float: left;
	position: relative;	
	width: 552px;		
	margin: 16px 0 0 0;
	padding: 0;
}

#logo {
	background: transparent;
	float: left;
	position: relative;	
	width: 245px;	
	padding: 0;
	margin-left: 24px;
}

#tagline {
	background: transparent;
	float: left;
	position: relative;	
	width: 276px;	
	padding: 0;
	margin: 67px 0 0 7px;
}

#flashcontent {
	background: transparent;
	text-align: center;
	font-size: 14px;
	font-weight: 600;
	padding: 0;
	margin: 0;	
}

#navWrap {
	background: transparent;
	float: left;
	position: relative;	
   /* height: 32px;	*/
	width: 900px;	
	padding: 0;
	margin: 26px 0 0 0;
}

#contentWrap {
	background: transparent url(../assets/elements/content_wrap.jpg) no-repeat right top;
	float: left;

	width: 900px;
	padding: 0;
	margin: 0;	
}

#content {
	background: #000 url(../assets/elements/blank.gif) no-repeat left top;	
	float: left;

	width: 648px;
	min-height: 465px;
	padding: 0;
	margin: 40px 0 0 0;	
}

#right {
	background: #000 url(../assets/elements/blank.gif) no-repeat left top;	
	float: left;
	position: relative;	
	width: 252px;
	font-size: 11px;
	padding: 0;
	margin: 405px 0 0 0;
}

#footerWrap {
	background: #000 url(../assets/elements/footer.jpg) no-repeat left top;
	float: left;
	position: relative;		
	width: 900px;	
	height: 198px;
	margin: 0;
	padding: 0;
}

#footer {
	background: transparent;
	text-align: right;	
	margin: 168px 24px 0 0;
	padding: 0;
}

/* -------------------------------------------------------------------------
text
--------------------------------------------------------------------------- */

p {
	font-size: 14px;
	line-height: 135%;
	color: #fff;
	padding: 0 24px 10px 24px;
}

h1, h2, h3, h4 {
	font-family: Geneva, Veranda, Arial, sans-serif;
	color: #fff;
}

h1 {
	background: #000000;
	font-size: 22px;
	margin: 0 0 12px 0;
	padding: 7px 0 7px 24px;
	font-weight: normal;
}

h2 {
	background: #191919;
	font-size: 16px;
	margin: 0 0 5px 0;
	padding: 7px 0 7px 12px;
	font-weight: normal;
}

h3 {
	font-size: 15px;
	line-height: 17px;
	font-weight:normal;
	margin:  0 0 7px 12px;
	padding: 0;	
}

a:link, 
a:visited,
a:active {
	font-weight: normal;
	color: #cd0118;
	text-decoration: none;
}

a:hover {
	color: #cd0118;;
	text-decoration: underline;
}

/* -------------------------------------------------------------------------
 topBar
--------------------------------------------------------------------------- */

#topBar a:link, 
#topBar a:visited {
	color: #9bb2dc;
	text-decoration: none;
}

#topBar a:hover {
	text-decoration: underline;
}

/* -------------------------------------------------------------------------
 Breadcrumbs
--------------------------------------------------------------------------- */

#breadcrumbWrap {
	background: transparent;
	margin: 15px 0;
	padding: 0 24px;
	color: #ccc;	
}

#breadcrumbs {
	background: transparent;
	float: left;
	position: relative;	
	width: 396px;	
	font-size: 11px;
	margin: 0;
	padding: 0;
	color: #ccc;	
}

#breadcrumbs a,
#prevNext a {
	background: transparent;
	text-decoration: none;
	color: #ccc;	
}

#breadcrumbs a:hover,
#prevNext a:hover {
	background: transparent;
	text-decoration: underline;
	color: #ccc;	
}

.breadcrumbspacer {
	font-weight: 600;
	font-size: 14px;
	color: #ccc;
}

.currentcrumb {
	font-weight: normal;
	color: #777;
}

#prevNext {
	background: transparent;
	float: right;
	position: relative;	
	width: 204px;	
	font-size: 11px;
	text-align: right;
	margin: 0;
	padding: 0;
	color: #ccc;	
}

/* -------------------------------------------------------------------------
 Search
--------------------------------------------------------------------------- */
#searchWrap {
	background: transparent;
	float: right;
	position: relative;		
	width: 181px;	
	text-align: right;
	margin: 0 5px 0 0;
	padding: 0;
}

#searchBox {
	background: transparent;
	text-align: left;
	margin: 0;
	padding: 0;
}

.field {
	background: #fff;
	font-size: 11px;
	width: 120px;
	height: 16px;
	color: #888;
	margin: 0;
	padding: 4px 0 0 4px;
	border: solid 1px #fff;
}

#searchField {
	position: absolute;
	top: 11px;
	left: 0;
	margin: 0;
}

.searchButton {
	background: transparent;
	margin: 0;
	padding: 0;
	border: none;
	cursor: pointer;
}

.button {
	background: transparent;
	font-size: 11px;
	font-weight: 600;
	margin: 2px 0 0 0;
	padding: 2px 5px;
	border: none;
	cursor: pointer;
}

/* -------------------------------------------------------------------------
 Content
--------------------------------------------------------------------------- */

#homeButtons {
	background: transparent;
	margin: 15px 0 25px 0;
	padding: 0;
	text-align: center;
}

.homeButtonBox {
	background: transparent;
	float: left;
	position: relative;		
	width: 324px;	
	margin: 0;
	padding: 0;
	text-align: center;
}

.picOfDay {
	text-align: center;
}

#weather {
	display: none;
	padding-left: 12px;	
	line-height: 125%;
	margin: 0 0 17px;
}

.weatherToggle {
	padding-left: 12px;	
	margin: 0 0 7px 0;
}

.currentTemp {
	background: transparent;
	font-size: 28px;
	color: #ccc;
	margin: 0 0 7px 0;
	padding-left: 12px;
	font-weight: normal;
	letter-spacing: -1px;
}

#content ul {
	list-style: none;
	margin: 0 0 0 24px;
}

#content li {
	margin: 0;
}	

#content li a {
	padding: 0 0 2px 12px;	
}

/* -------------------------------------------------------------------------
 Entry Styles
--------------------------------------------------------------------------- */

.entry,
.archives {
	background: transparent;
	margin: 0 0 15px 0;
	padding: 0;
}

#leftSide .entry {
	background: transparent;
	margin: 0 0 15px 0;
	padding: 0;
}

.entry h2,
.archives h2 {
	background: #191919;
	font-size: 17px;
	margin: 0 0 5px 0;
	padding: 5px 0 7px 24px;
	font-weight: normal;
}

.entry h3 {
	background: transparent;
	font-size: 11px;
	color: #777;
	margin: 0 0 7px 0;
	padding-left: 24px;
	font-weight: normal;
	letter-spacing: 1px;
}

.entry h4 {
	background: transparent;
	font-size: 14px;
	color: #777;
	margin: 0 0 7px 0;
	padding: 0 0 2px 0;
	font-weight: normal;
}

.archives h3 {
	background: transparent;
	font-size: 14px;
	color: #777;
	margin: 0 0 7px 0;
	padding-left: 24px;
	font-weight: normal;
	letter-spacing: 1px;
}

.archives h4 {
	background: transparent;
	font-size: 12px;
	color: #777;
	margin: 0 0 7px 0;
	padding-left: 24px;
	font-weight: normal;
}

.entry h2 a:link,
.entry h2 a:visited {
	text-decoration: none;
	color: #fff;
}

.entry h2 a:hover {
	text-decoration: none;
	color: #cd0118;
}

.floatLeft {
	background: transparent;
	float: left;
	padding: 0;
	margin: 0 24px 10px 24px;
	text-align: center;
}

.caption {
	font-size: 10px;
	color: #777;
	font-style: italic;
	padding-top: 4px;
	margin: 0;	
}

.entryLeft {
	background: transparent;
	float: left;
	position: relative;	
	width: 428px;
	padding: 0 5px 0 0;
	margin: 0;
}

.entryRight {
	background: transparent;
	float: left;
	position: relative;	
	width: 130px;
	text-align: center;
	padding: 0;
	margin: 0;
}

.previewLeft {
	background: transparent;
	float: left;
	position: relative;	
	width: 84px;
	text-align: left;
	padding: 0;
	margin: 0;
}

.previewRight {
	background: transparent;
	float: left;
	position: relative;	
	width: 473px;
	padding: 0 10px 0 0;
	margin: 0;
}

.entryImage {
	background: transparent;
	margin-bottom: 4px;
}

.entry p {
	font-size: 12px;
	line-height: 135%;
	color: #fff;
	padding: 0 24px 10px 24px;
}

.thumb {
	background: transparent;
	float: left;
	margin: 0 4px 4px 0;
	padding: 0;
}

.pagination {
	background: transparent;
	font-size: 11px;
	color: #999;
	margin: 7px 0;
	padding-left: 24px;
}

.pagecount {
	font-weight: normal;
}

.imageBorder {
	border: solid 3px #191919;
}

/* -------------------------------------------------------------------------
 Right Side
--------------------------------------------------------------------------- */

#right .entry h2 {
	background: #191919;
	font-size: 13px;
	margin: 0 0 5px 0;
	padding: 5px 0 5px 12px;
	font-weight: normal;
}

#right .entry h4 {
	background: transparent;
	font-size: 12px;
	margin: 0 0 5px 0;
	padding: 5px 0 5px 12px;
	font-weight: normal;
}

#right .entry p {
	font-size: 12px;
	line-height: 130%;
	color: #fff;
	padding: 0 12px 7px 12px;
}

#right ul {
	float: left;
	list-style: none;
	margin-bottom: 15px;
}

#right li {
	margin-bottom: 3px;
	float: left;
}	

#right li a,
#right li a:visited,
#right li a:active {
	background: transparent;
	width: 230px;
	float: left;
	display: block;
	font-size: 11px;
	text-decoration: none;
	padding: 3px 10px 3px 12px;
	color: #999;
}

#right li a:hover { 
	background: #191919;
	width: 230px;
	color: #fff;
	text-decoration: none;	
}	

#right .entry ul {
	float: left;
	list-style: none;
	margin: 0 0 15px 12px;
}

#right .entry li {
	background: transparent url(../assets/elements/acrobat.png) no-repeat left center;
	margin-bottom: 3px;
	float: left;
}	

#right .entry li a {
	background: transparent;
	width: 230px;
	float: left;
	display: block;
	font-size: 11px;
	text-decoration: none;
	padding: 3px 10px 3px 24px;
	color: #cd0118;
}

#right .entry li a:hover { 
	background: transparent;
	width: 230px;
	color: #cd0118;
	text-decoration: underline;	
}	

/* -------------------------------------------------------------------------
 Gallery Styles
--------------------------------------------------------------------------- */

#galleryThumbs {
	background: transparent;
	margin: 0 0 15px 24px;
	padding: 0;
}

.galleryFloat {
	float: left;
	margin: 0 4px 3px 0;
}

.imageFull {
	background: transparent;
	margin: 0 0 15px 0;
	padding: 0;
	text-align: center;
}

.imageFull p {
	font-size: 12px;
	line-height: 135%;
	color: #333;
	padding: 0 24px 10px 24px;
	text-align: left;	
}

/* -------------------------------------------------------------------------
 lists
--------------------------------------------------------------------------- */

#topNav ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

#topNav li {
	float: left;
}	

#topNav li a {
	float: left;
	display: block;
	font-size: 11px;
	text-decoration: none;
 	padding:	0 0 1px 14px;
	color: #888;
}

#topNav a:hover {
 	background: transparent url(../assets/bg/red_arrow_right.jpg) no-repeat left center;
} 

#leftSide ul {
	float: left;
	width: 162px;
	clear: left;
	list-style: none;
	margin: 0 0 17px 0;
}

#leftSide li {
	margin: 0;
	float: left;
}	

#leftSide li a {
	float: left;
	display: block;
	font-size: 12px;
	text-decoration: none;
	padding: 2px 0 2px 0;
	color: #888;	
}

#leftSide li a:hover { 
	color: #888;
	text-decoration: underline;	
}

#rightSide ul {
	float: left;
	clear: left;
	list-style: none;
	margin: 0 0 12px 0;
}

#rightSide li {
	margin: 0;
	float: left;
}	

#rightSide li a {
	float: left;
	display: block;
	font-size: 12px;
	text-decoration: none;
	padding: 2px 0 4px 0;
	color: #888;	
}

#rightSide li a:hover { 
	color: #888;
	text-decoration: underline;	
}

#bottomNav {
	background: transparent; 
	width: 882px;
	display: table; 	
	margin: 0 24px 0 24px;	
	padding: 0;  
	list-style: none; 
	white-space: nowrap;
	text-align: center;
}

#bottomNav ul {
	font-size: 12px; 
}

#bottomNav li {
	display: inline; 
	margin: 0;
	padding: 0;
}

#bottomNav li a {
	padding: 0 9px;
}

#bottomNav li a,
#bottomNav li a:active,
#bottomNav li a:visited {
	background: transparent; 
	color: #999;
	text-decoration: none;
}

#bottomNav li a:hover {
	background: transparent; 
	color: #999;
	text-decoration: underline;
}

#sec-nav {
float: left;
clear: left;
margin: 0 0 17px 0;
list-style: none;
}

#sec-nav ul {
list-style: none;
}

#sec-nav li {
margin-bottom: 1px;
float: left;
width: 160px;
}

#sec-nav li a {
float: left;
display: block;
font-size: 11px;
text-decoration: none;
padding: 3px 8px 4px 8px;
color: #fff;
width: 145px;
}

#sec-nav li a:hover,
#sec-nav li.on a {
width: 150px;
text-decoration: none;
}


#sec-nav li						{ background:  #e32b2b url(../assets/nav/sec_nav.jpg) repeat-x left bottom;}
#sec-nav li a:hover,
#sec-nav li.on a					{ background: #e32b2b;
color: #fff;
 }


/* -------------------------------------------------------------------------
 misc
--------------------------------------------------------------------------- */

.clearfix {
	clear:both;
	line-height:0;
	font-size:0;
}

strong,
b {
	font-weight: 600;
}

.small {
	font-size: 12px;
}

/* -------------------------------------------------------------------------
 footer
--------------------------------------------------------------------------- */

.copyright {
	background: transparent;
	color: #ccc;
	font-size: 11px;
	text-align: right;
	margin: 0;
	padding: 0;
}

.copyright a,
.copyright a:active,
.copyright a:visited {
	background: transparent; 
	color: #ccc;
	text-decoration: none;
}

.copyright a:hover {
	background: transparent; 
	color: #ccc;
	text-decoration: underline;
}
