body {
	margin: 0px;
}
#main-menu {
	height: 26px;
	border-radius: 0px;
	border-top: 0px;
	border-right: 0px;
	border-left: 0px;
	font-size: 11pt;
	font-weight: bold;
}
#main-menu li.ui-menu-item {
	float: left;
	display: block;
	width: auto;
}
#main-menu li.ui-menu-item li {
	clear: both;
	width: 100%;
}
#main-menu .ui-menu-icon {
	margin-top: 4px;
}
#main-menu ul  a {
	width: 200px;
}
