td, th{
    border:1px solid #999;
    text-align: center;
}

tr td:last-child{
    width:1%;
    white-space:nowrap;
}

.readonly{
    color: #999999;
}

input[type=text].inputCell{
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 0.9em;
    background-color: inherit;
    border: 0;
}

.vertical{
    transform: rotate(270deg);
}

.table > tbody > tr > th.vertical{
    vertical-align: middle;
}

.table > tbody > tr > th.vertical{
    padding: 1px;
    line-height: 1em;
}

.table > tbody > tr > td{
    line-height: 1em;
    padding: 0px;
    font-size: 0.9em;
}

input[type=text].inputCell:hover{
    background-color: #5cb85c;
}

.table-hover > tbody > tr:hover {
    background-color: #ddd;
}

.oddRow{
    background-color: #ccc;
}

.evenRow{
    background-color: #fff;
}
.footerRow{
    height: 1em;
    font-size: 1em;
}
.footerRow td{
    color: white;
    height: 1em;
    background-color: black;
    border:1px solid #000;
}

.table > tbody > tr.footerRow > td {
    font-size: 1em;
    line-height: 1em;
    padding-bottom: 5px;
    padding-top: 5px;
}
.smallHeader{
    font-size:0.7em;
}

.tableTitle{
    text-align: center;
}

.settingsTable{
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}
.settingsTable th.inputColumn{
}
.settingsTable td.priceColumn{
}

.settingsTable td.priceCell{
    text-align: right;
    font-weight: bold;
    padding-right: 10px;
}

#settingsTableSubmit{
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 415px;
    display: block;
}
.settingsTableNewPrice{
    width: 100%;
    height: 100%;
}
