html{
	overflow: scroll;
}

body{

	background-color: black;
	color: white;
	width: 100%;
	position: relative;
}
div{
	/*border: 1px;
	border-color: red;
	border-style: solid;*/
	display:inline;
	float:left;

}

.whiteBox, .inputTitle, .inputSeparator{
	/*background-color: white;*/
	color: black;
}

.formTop{
	background-color: white;
	margin-bottom: 10px;
}

.headerInput{
	background-color: white;
	color: black;
}

.blackBorder{
	border: 1px;
	background: white;
	border-color: grey;
	border-style: solid;
	border-collapse: collapse;
}

iframe[name="certifcate"], iframe[name="ticketmini"]{
	display: none;/*hide the certificate*/
}

input[type="text"]{
	background-color: white;
	color: black;
	border:none;
	display:inline;
	text-align: center;
}

select{
	color: black;
}

#mainDiv{
	/*background: white;*/
	width:450px;
	display:table;
	margin-left: auto;
	margin-right: auto;
	float:none;
}

.whiteInput{
	height: 100px;
	width: 150px;
	float: left;
}

.doubleWidth{
	width:300px;
}

.newLine{
	clear:left;
}
.bottomButtonDiv{
	width: 160px;
	height: 150px;
}


.inputText{
	float: left;
	font-size: 30px;
}

.inputBox{
	float: left;
	clear: left;
}

.noClear{
	clear: none;
}

.inputSeparator{
	float: left;
	font-size: 30px;
}

.inputTitle{
	font-size:25px
}

.purpleButton{
	background-color:#ab47cb;
}

.redButton{
	background-color:red;
} 

.blueButton{
	background-color:#0000fe;
} 

.greenButton{
	background-color:#03fe00;
} 

.yellowButton{
	background-color:yellow;
} 

.button{
	font-family: 'pussycat_snickers';
	color: black;
	border:3px;
	border-style:outset;
	border-color:#aaa;
	font-size:40px;
	float: left;
	width: 100%;
	height: 100%;
	white-space: normal;
}

.bottomButton{
	font-family: 'pussycat_snickers';
	color: black;
	border:3px;
	border-style:outset;
	border-color:#aaa;
	font-size:40px;
	float: left;
	white-space: normal;
	width: 110px;
	height: 120px;
}
.bigRedHeader{
	font-family: 'pussycat_snickers';
	font-size:90px;
	color:red;
}

.buttonArrowText{
	font-size: 60px;
	line-height: 0%;
}

.buttonSmallSmallText{
	font-size: 26px;
	line-height: 90%;
}

.buttonSmallText{
	font-size: 30px;
	line-height: 90%;
}

.buttonDiv{
	width: 100px;
	height: 100px;
	float: left;
	/*
	border-style:outset;
	border-color:#aaa;
	*/
	/*background:red;*/
	/*

	border: 1px;
	*/
	/*border-color: black;*/
	/*border-style: solid;*/
}

#formOuterRight input{
	width:40px;
}

#formOuterRight{
	width:40px;
}

#questionMark{
	height: 95px;
}

.green{
	background-color:#03fe00;
}

.blue{
	background-color:#0000fe;
}

.clearBoth{
	clear: both;
}

#formUpperInputs{
	float:left;
	display:inline;
}


.numpadButton{
	margin-top:5px;
	width:100px;
	height:100px;
	color:white;
	font-size: 60px;

}

.numpadButtonWide{
	width:310px;
}

.numpadContainer{
	width:320px;
	margin-left:auto;
	margin-right:auto;
	float: left;
}

.numpadDisplay{
	font-size:60px;
	text-align: right;
	width: 310px;
}

.enterButton{
	font-family: 'pussycat_snickers';
	font-size: 90px;
	line-height: 100px;
	text-align: center;
	color: black;
	background-color: #0f0;
	width: 310px;
	height: 90px;
	border: 2px solid white;
}
.delButton{
	font-family: 'pussycat_snickers';
	font-size: 90px;
	line-height: 100px;
	text-align: center;
	color: white;
	background-color: red;
	width: 310px;
	height: 90px;
	border: 2px solid white;
}

#cboxOverlay{
	background-color: black;
}

/***********Buttons***************/
#walkin{
}

#test{
}

#foc{
}

#lateCustomer{
	height: 70px;
}

#price{
	height: 70px;
}

#mistake{
	height: 70px;
}

#report{
	height: 58px;
}

#print{
	height: 70px;
	width: 100%;
}

#goods{
	height:237px;
}

#nonJump{
	height:237px;
}

/**********Layout**************/
