/*original css code for self check in stub pages*/
/*
#pageContainer{
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	float: none;
	display: block;
}

body{
	width: 100%;
}

a:link, h1{
	text-align: center;
	margin: 0 auto;
	display:block;
	width: 400px;
}

a:link{
	font-size: 20px;
}
*/
@font-face {
    font-family: 'pussycat_snickers';
    src: url('../fonts/pusss___-webfont.eot');
    src: url('../fonts/pusss___-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/pusss___-webfont.woff') format('woff'),
    url('../fonts/pusss___-webfont.ttf') format('truetype'),
    url('../fonts/pusss___-webfont.svg#pussycat_snickers') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    color: white;
}

input, input[type='text'], input:disabled {
    color: white;
    -webkit-text-fill-color: rgba(255, 255, 255, 1);
    -webkit-opacity: 1;
    background: #333333;
}

.header-container {
    font-size: 18px;
    color: red;
    line-height: 1em;
    padding: 0;
    overflow: hidden;
    margin: 0;
}

.header-container h1 {
    font-family: 'pussycat_snickers';
    font-size: 130px;
    line-height: 1em;
    font-weight: normal;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
}

.header-container h2 {
    font-family: 'pussycat_snickers';
    font-size: 34px;
    line-height: 1em;
    font-weight: normal;
    padding: 0;
    margin: 0;
    text-transform: lowercase;
}

#step2 .header-container h1 .lang_ja {
    font-size: 100px;
    line-height: 100px;
}

#step3 .header-container h1 {
    font-size: 100px;
}

#step3 .header-container h1 .lang_ja {
    font-size: 70px;
    line-height: 70px;
}

#step4 .header-container h1 {
    font-size: 72px;
}

#step5 .header-container h1 {
    font-size: 86px;
    text-transform: lowercase;
}

#step5 .header-container h1 .lang_ja {
    font-size: 74px;
}

#step6 .header-container h1 {
    font-size: 130px;
    text-transform: lowercase;
}

#step6 .header-container h1 .lang_ja {
    font-size: 100px;
}

#step7 .header-container h1 .lang_ja {
    font-size: 100px;
}

#step8 .header-container h1 {
    font-size: 130px;
    text-transform: lowercase;
}

#step8 .header-container h1 .lang_ja {
    font-size: 75px;
}

#step9 .header-container h1 {
    font-size: 130px;
    text-transform: lowercase;
}

#step9 .header-container h1 .lang_ja {
    font-size: 70px;
}

#step10 .header-container h1 .lang_ja {
    font-size: 60px;
}

#step12 .header-container h1 {
    font-size: 130px;
    text-transform: lowercase;
}

#step12 .header-container h1 .lang_ja {
    font-size: 80px;
}

#step13 .header-container h1 {
    margin-top: 30px;
    font-size: 80px;
    line-height: 80px;
    text-transform: uppercase;
    width: 100%;
}

#step13 .header-container h1 span.lang_ja {
    text-transform: none;
    font-size: 50px;
    line-height: 80px;
}

#step13 .header-container h2 {
    width: 100%;
}

#step14 .header-container h1 {
    font-size: 100px;
    text-transform: lowercase;
}

#step14 .header-container h1 span.lang_ja {
    text-transform: none;
    font-size: 80px;
    line-height: 80px;
}

#step15 .header-container h1 {
    font-size: 100px;
    text-transform: lowercase;
    margin-bottom: 30px;
}

#step15 .header-container h2 {
    margin-top: 50px;
    font-size: 60px;
}

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
}

html {
    overflow: hidden;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: black;
    /*width: 1280px;*/
    height: 935px;
    position: fixed;
}

#ff-fix {
    width: 100%;
    height: 40px;
}

body div {
    text-align: center;
}

.refresh {
    position: absolute;
    top: 40px;
    left: 1100px;
}

.refresh button {
    font-family: 'pussycat_snickers';
    width: 140px;
    height: 70px;
    border: 2px silver solid;
    font-size: 50px;
    color: black;
    border-top-color: white;
    border-left-color: white;
    background-color: #b11;
}

.continue button {
    background-color: #f00;
    border: 2px solid white;
    color: black;
    font-family: "pussycat_snickers";
    font-size: 100px;
    font-weight: normal;
    height: 110px;
    line-height: 110px;
    margin-top: 50px;
    text-align: center;
    text-transform: uppercase;
    width: 500px;
}

.reset {
    position: absolute;
    top: 40px;
    left: 0px;
}

.back {
    position: absolute;
    top: 1650px;
    left: 0px;
    z-index: 100;
}

.back button {
    font-family: 'pussycat_snickers';
    font-size: 48px;
    color: red;
    width: 105px;
    height: 80px;
    background-color: white;
    border: 2px solid silver;
    float: left;

}

.back button .lang_ja {
    font-size: 38px;
}

/* For dialogs */
.alert {
    font-size: 40px;
}

.alert .ui-dialog-titlebar-close {
    display: none;
}

.alert .ui-dialog-title {
    width: 100%;
}

#waiver-container {
    margin-top: 100px;
    width: 816px;
    margin-left: auto;
    margin-right: auto;
}

.header-container {
    padding-left: auto;
    padding-right: auto;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 20px;
}

#language-container {
    margin-top: 0px;
    clear: both;
    position: relative;
}

#english-container {
    float: left;
    padding-right: 80px;
    margin: 0px;
}

#japanese-container {
    float: right;
    padding-left: 80px;
    margin: 0px;
}

#step1-add-info {
    width: 1000px;
    font-family: 'pussycat_snickers';
    font-size: 30px;
    color: red;
    display: block;
    margin-top: 390px;
    margin-left: auto;
    margin-right: auto;
}

* button {
    padding: 0px;
    margin: 0px;
    border: 0px none;
    background-color: black;
    overflow: visible;
}

/* Step2 CSS */
#map1280 {
    position: absolute;
    width: 100%;
    top: 0px;
    left: 0px;
    margin-left: auto;
    margin-right: auto;
}

#map1280 div {
    border: 1px dashed red;
    width: 1280px;
    height: 1024px;
}

#step2 #bottom-container button {
    width: 700px;
    height: 150px;
    margin-top: 50px;
    background-color: #f00;
    border: 2px solid white;
    font-family: 'pussycat_snickers';
    font-size: 100px;
    color: black;
    text-align: center;
    text-transform: uppercase;
    line-height: 150px;
    font-weight: normal;

}

/* step 3 */
#content-container {
    /*width: 1280px;*/
    height: 225px;
}

#photo-example {
    float: left;
    width: 320px;
    text-align: right;
    padding-right: 30px;
}

#photo-number {
    float: left;
    width: 630px;
}

#photo-number input {
    width: 100%;
    height: 218px;
    margin-top: 4px;
    font-size: 200px;
    line-height: 200px;
    text-align: center;
    padding: 0px;
    margin: 0px;
}

#photo-dho {
    float: left;
    width: 320px;
    text-align: left;
    padding-left: 30px;
}

#photo-dho button {
    font-family: 'pussycat_snickers';
    font-size: 60px;
    text-align: center;
    color: black;
    height: 220px;
    margin-top: 3px;
    width: 220px;
    background-color: red;
    border: 1px solid white;
}

#photo-dho button .lang_ja {
    font-size: 50px;
}

#photo-keyboard-container {
    padding-top: 20px;
    text-align: center;
}

.photo-keyboard {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.keyboard-button {
    float: left;
    padding: 3px;
}

.keyboard-button button {
    color: white;
    font-size: 100px;
    font-weight: bold;
    border: 2px solid;
    border-color: #fff #eee #fff #eee;
    padding-left: 20px;
    padding-right: 20px;
    height: 170px;
    width: 135px;
}

#enter-del-container {
    clear: both;
    height: 100px;
    width: 100%;
}

#enter {
    width: 300px;
    margin-left: 550px;
    text-align: right;
}

#del {
    float: left;
    margin-left: 0px;
    width: 500px;
    text-align: right;
}

#enter button {
    font-family: 'pussycat_snickers';
    font-size: 90px;
    line-height: 100px;
    text-align: center;
    color: black;
    background-color: #0f0;
    width: 300px;
    height: 90px;
    border: 2px solid white;
}
.bookingOption button .lang_ja{
    font-size: 85px;
}

.bookingOption button {
    font-family: 'pussycat_snickers';
    font-size: 90px;
    line-height: 100px;
    text-align: center;
    color: black;
    background-color: #0f0;
    background-color: red;
    width: 700px;
    height: 200px;
    border: 2px solid white;
}

#del button {
    font-family: 'pussycat_snickers';
    font-size: 90px;
    line-height: 100px;
    text-align: center;
    color: white;
    background-color: red;
    width: 300px;
    height: 90px;
    border: 2px solid white;
}

#step4 #content-container {
    height: auto;
    font-family: 'pussycat_snickers';
    font-size: 18px;
    line-height: 1em;
    color: #b11;
    padding: 0px;
    margin: 0px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: bold;
    text-align: justify;
}

#step4 #content-container .lang_ja p {
    line-height: 1.2em;
}

#step4 #content-container .lang_en p {
    line-height: 0.9em;
    font-size: 26px;
    font-weight: normal;
    margin-top: 18px;
    margin-bottom: 18px;
}

#step4 #content-container .lang_en p.numerable {
    text-indent: -20px;
    padding-left: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#agreement-container {
    font-size: 16px;
    font-weight: bold;
    color: red;
    padding: 0;
    padding-left: 10px;
    overflow: hidden;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    text-align: left;
}

#agree-exit-container {
    margin-right: 50px;
    margin-left: 50px;
}

#agree-exit-container button {
    font-family: 'pussycat_snickers';
    font-size: 100px;
    line-height: 100px;
    text-align: center;
    width: 450px;
    height: 100px;
    background-color: red;
    border: 2px solid;
    border-color: white silver silver white;
}

#agree-exit-container button .lang_ja {
    font-size: 75px;
    padding: 0px;
}

#agree, #exit {
    padding-top: 20px;
    float: left;
    width: 50%;
}

#step5 #enter-del-container {
    padding-top: 20px;
}

#step6 .header-container {
    margin-top: 40px;
    margin-bottom: 40px;
}

#step6 #birth-month-container {
    float: left;
    width: 450px;
    height: auto;
}

#step6 #birth-month {
    width: 400px;
    height: 200px;
    margin-right: 80px;
    /*margin-left: 160px;*/
}

#step6 #birth-month-value input {
    width: 100%;
    height: 204px;
    font-size: 130px;
    line-height: normal;
    text-align: center;
    padding: 0px;
    margin: 0px;
}

#step6 #birth-month-value input::-webkit-input-placeholder {
    line-height: 200px;
    font-size: 180px;
}

#step6 #birth-month-container .keyboard-container {
    width: 460px;
    margin-right: 50px;
    /*margin-left: 140px;*/
}

#step6 #birth-month-container .keyboard-button {
    float: left;
    padding: 5px;
}

#step6 #birth-month-container .keyboard-container button {
    font-size: 40px;
    font-weight: bold;
    border: 2px solid;
    color: white;
    border-color: #fff #eee #fff #eee;
    padding-left: 5px;
    padding-right: 5px;
    height: 100px;
    width: 100px;
}

#step6 #birth-month-container .keyboard-container .lang_ja button {
    font-size: 36px;
}

#step6 #birth-day-container {
    float: left;
    /*width: 630px;*/
}

#step6 #birth-day {
    margin-left: 20px;
    width: 450px;
    height: 200px;
}

#step6 #birth-day input {
    width: 300px;
    height: 100%;
    font-size: 180px;
    line-height: 180px;
    text-align: center;
    padding: 0px;
    margin: 0px;
}

#step6 .keyboard-container {
    clear: both;
    width: 500px;
    height: 330px;
    margin-top: 30px;
    margin-bottom: 30px;
}

#step6 #birth-day button {
    border: 2px solid;
    border-color: #fff #eee #fff #eee;
    background-color: red;
    height: 200px;
    width: 145px;
    padding: 0px;
    margin: 0px;
    font-family: 'pussycat_snickers';
    color: white;
    font-size: 120px;
}

#step6 #birth-day button .lang_ja {
    font-size: 60px;
    line-height: 1em;
}

#step6 #birth-day-container .keyboard-button {
    float: left;
    padding: 5px;
}

#step6 #birth-day-container .keyboard-button button {
    color: white;
    font-size: 100px;
    font-weight: bold;
    border: 2px solid;
    border-color: #fff #eee #fff #eee;
    padding-left: 5px;
    padding-right: 5px;
    height: 155px;
    width: 90px;
}

#step6 #enter-container {
    width: 100%;
}

#bidth-day-value, #bidth-day-del-button {
    float: left;
    height: 100%;
}

#step6 #enter {
    margin-left: 0px;
    width: 100%;
    text-align: center;
}

#step6 #enter button {
    width: 800px;
    height: 100px;
    line-height: 90px;
    padding-top: 10px;
}

/* step 7 */
#step7 .header-container {
    margin-top: 120px;
    margin-bottom: 120px;
}

#step7 #male-button {
    float: left;
    /*width: 640px;*/
    padding-right: 30px;
    padding-left: 140px;
    text-align: right;
}

#step7 #female-button {
    float: left;
    width: 500px;
    padding-left: 30px;
    text-align: left;
}

#step7 #male-female-container button {
    font-size: 100px;
    font-weight: bold;
    border: 2px solid;
    border-color: #fff #999 #fff #999;
    color: white;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
}

/* STEP 8-9 */
#name-container {
    width: 1250px;
    height: 150px;
    margin-left: 30px;
}

#name-container div {
    float: left;
}

#name-container #name-input-container {
    width: 700px;
    height: 150px;
}

#name-container #name-input-container input {
    width: 100%;
    height: 100%;
    font-size: 90px;
    line-height: 150px;
    white-space: pre;
    margin: 0px;
    padding: 0px;
    text-align: center;
}

#name-container button {
    height: 150px;
    border: 2px solid white;
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

#del-button button {
    background-color: red;
}

#enter-button button {
    background-color: #00FF00;
}

#del-button button, #enter-button button {
    font-family: 'pussycat_snickers';
    color: white;
    font-size: 100px;
}

#del-button button .lang_ja, #enter-button button .lang_ja {
    font-size: 70px;
}

#alert-container img {
    margin-top: 5px;
}

#step8 .header-container {
    margin: 0px;
    margin-top: 20px;
}

#step8 #keyboard-container, #step9 #keyboard-container, #step10 #keyboard-container, #step12 #keyboard-container {
    margin-left: auto;
    width: 100%;
    margin-right: auto;
    text-align: center;
}

#step8 #keyboard-container .keyboard-line, #step9 #keyboard-container .keyboard-line, #step10 #keyboard-container .keyboard-line, #step12 #keyboard-container .keyboard-line {
    clear: both;
    position: relative;
    display: table;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

#step8 #keyboard-container .keyboard-button, #step9 #keyboard-container .keyboard-button, #step10 #keyboard-container .keyboard-button, #step12 #keyboard-container .keyboard-button {
    padding: 5px;
    display: table-cell;
}

/*fixes both japanese and english spacebars being shown at the same time by hiding both and letting js choose which one is shown*/
#step8 #keyboard-container #space, #step9 #keyboard-container #space, #step10 #keyboard-container #space, #step12 #keyboard-container #space {
    padding: 5px;
    display: none;
}

#step8 #keyboard-container .keyboard-button button, #step9 #keyboard-container .keyboard-button button {
    font-size: 80px;
    font-weight: bold;
    border: 2px solid;
    border-color: #fff #999 #fff #999;
    color: white;
    height: 95px;
    width: 95px;
    text-align: center;
    padding: 0px;
    margin: 5 5 10 10;
}

#step8 #keyboard-container #space.keyboard-button button, #step9 #keyboard-container #space.keyboard-button button {
    width: 500px;
    line-height: 110px;
}

#step9 .header-container {
    margin: 0px;
    margin-top: 20px;
}

/* STEP 10 */
#step10 #place-container {
    width: 1258px;
    font-size: 24px;
}

#step10 .perfs-col {
    float: left;
    width: 172px;
    overflow: visible;
}

#step10 .perfs-cell {
    height: 60px;
    width: 170px;
    margin-right: 17px;
    margin-left: 17px;
}

#step10 .perfs-cell button {
    font-size: 16px;
    height: 60px;
    width: 100%;
    background-color: black;
    color: white;
    border: 2px solid white;
}

#step10 .perfs-title {
    background-color: white;
    color: black;
    height: 60px;
    width: 170px;
    display: table-cell;
    vertical-align: middle;
}

#post-code input {
    height: 100%;
    width: 100%;
    font-size: 150px;
    text-align: center;
}

/* STEP 11 */
#step11 #street-container {
    height: 143px;
}

#step11 #keyboard-container div {
    display: table;
    width: 100%;
    height: 125px;
}

#step11 #keyboard-container div.keyboard-line0 {
    display: table;
    width: 100%;
    height: 100px;
}

#step11 #keyboard-container div.keyboard-line0 div.keyboard-button {
    height: 100px;
}

#step11 #keyboard-container div.keyboard-button {
    display: table-cell;
    width: 128px;
    padding: 10px;
    height: 155px;
}

#step11 .keyboard-line0 .keyboard-button button {
    font-size: 50px;
    height: 80px;
    width: 60px;
}

#step11 .keyboard-button button {
    height: 100%;
    width: 100%;
    text-align: center;
    font-size: 70px;
    padding: 0;
}

#step11 .keyboard-line3 {
    padding-left: 90px;
}

#step11 #space.keyboard-button button {
    width: 700px;
    margin-left: 290px;
}

#step11 #enter-del-container {
    position: absolute;
    top: 691px;
    left: 1070px;
    width: 200px;
}

#step11 #enter-del-container div {
    float: right;
}

#step11 #del {
    margin: 0;
    padding: 0;
}

#step11 #del button {
    height: 135px;
    width: 150px;
    float: right;
}

#step11 #enter button {
    margin-top: 20px;
    width: 250px;
    height: 135px;
}

/* STEP 12 */
#step12 #content-container {
    height: 180px;
}

#phone-number {
    width: 795px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}

#phone-number input {
    height: 100%;
    width: 100%;
    font-size: 80px;
    text-align: center;
    padding: 25px 0px 25px 0px;
    line-height: 130px;
}

#step12 #keyboard-container .keyboard-button button {
    margin-left: 10px;
    margin-right: 10px;
}

/* STEP 13 */
#step13 .header-container {
    margin-top: 46px;
    margin-bottom: 0px;
}

/* bypass button */
#rather-not {
    position: absolute;
    top: 20px;
    left: 940px;
}

#rather-not button {
    font-family: 'pussycat_snickers';
    background-color: #0f0;
    border: 2px solid white;
    height: 80px;
    width: 330px;
    font-size: 60px;
    line-height: 60px;
}

/* email container and input field */
#step13 #email-input-container {
    margin: 24px;
}

#step13 input {
    height: 50px;
    font-size: 50px;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
}

#step13 .keyboard-container {
    display: table;
}

#step13 .keyboard-line0 {
    display: table-row;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

#step13 .keyboard-button {
    display: table-cell;
}

#step13 .keyboard-line0 .keyboard-button button {
    font-size: 50px;
    height: 80px;
    width: 80px;
    padding: 0px;
    text-align: center;
    margin-left: 9px;
    margin-right: 9px;
}

#step13 .keyboard-line {
    display: table-row;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

#step13 .keyboard-line .keyboard-button {
    padding: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#step13 .keyboard-line .keyboard-button button {
    font-size: 75px;
    height: 95px;
    width: 95px;
    padding: 0px;
    text-align: center;
}

#step13continue, #step13exit {
    border: 2px solid white;
    background-color: red;
    height: 180px;
    width: 300px;
    margin-left: 50px;
    margin-right: 50px;
}

#step13 #domains-container {
    display: table;
    /*position: absolute;*/
    width: 381px;
    top: 756px;
    left: 898px;
    text-align: left;
}

#step13 .domains-row {
    display: table-row;
    margin: 0px;
    padding: 0px;
}

#step13 .domains-cell {
    display: table-cell;
    padding: 2px;
    margin: 0px;
    vertical-align: middle;
}

#step13 #domains-container button {
    color: white;
    border: 2px solid white;
    height: 54px;
    text-align: center;
}

.first-cell button {
    width: 70px;
    font-size: 18px;
    line-height: 20px;
}

.second-cell button {
    width: 130px;
    font-size: 18px;
    line-height: 20px;
}

.third-cell button {
    width: 140px;
    font-size: 18px;
    line-height: 20px;
}

#step13 #enter-del-container {
    margin-top: 35px;
    width: 900px;
}

#step13 #enter-del-container button {
    height: 100px;
    font-size: 100px;
    line-height: 110px;
    text-transform: uppercase;
}

#step13 #enter, #step13 #del {
    float: right;
    margin: 0px;
    padding: 0px;
    width: auto;
    height: auto;
    margin-right: 50px;
}

#step13 #del button {
    width: 260px;
}

#step13 #enter button {
    width: 360px;
}

/* STEP 14 */
#step14 #waiver-signature {
    margin-top: 20px;
    /*setting the width and height in css causes issues, set it in the DOM
    http://stackoverflow.com/questions/8693693/offset-when-drawing-on-canvas
    */
    /*height: 500px;*/
    /*width: 1000px;*/
    background-color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#actions-container {
    display: table;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

#actions-container div {
    display: table-cell;
}

#actions-container button {
    height: 120px;
    width: 400px;
    border: 2px solid white;
    margin-left: 25px;
    margin-right: 25px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'pussycat_snickers';
    font-size: 100px;
    line-height: 1em;
    font-weight: normal;
    text-transform: lowercase;
}

/* STEP 15 */
#step15 .header-container {
    margin-top: 250px;
    margin-bottom: 100px;
}

.restart-container {
    font-size: 20px;
    color: white;
}

#names-container-child {
    width: 850px;
    height: 480px;
    overflow: hidden;
    margin: auto;
    /*-webkit-overflow-scrolling: touch;*/
    -webkit-transform: translate3d(0, 0, 0);
    background-color: white;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.scrollable select {
    width: 100%;
    height: 100%;
    font-size: 60px;
    margin: 0;
    padding: 0;
}

ul#booking-list {
    width: 100%;
    font-size: 50px;
    margin: 0;
    padding: 0;
}

ul#booking-list li {
    display: block;
    font-size: 70px;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

ul#booking-list li.selected {
    background-color: lightskyblue;
}

* button {
    cursor: pointer;
}

#email-note {
    /*position: absolute;*/
    top: 10px;
    left: 0px;
    font-size: 24pt;
    line-height: 26pt;
    font-family: 'pussycat_snickers';
    width: 100%;
}

#email-note .lang_ja {
    font-size: 20pt !important;
}

.lang_en, .lang_ja {
    display: none;
}   

body{
    padding-top: 900px;
}

#first-weigh button{
    font-family: "pussycat_snickers";
    font-size: 90px;
    line-height: 100px;
    text-align: center;
    color: #000;
    background-color: #F00;
    width: 700px;
    height: 200px;
    border: 2px solid #FFF;
}

