* {margin:0; padding:0}
body {font:11px Verdana, Arial, Helvetica, sans-serif; background:#000000}
#text {margin:50px auto; width:500px}
.hotspot {color:#900; padding-bottom:1px; border-bottom:1px dotted #900; cursor:pointer}

#tt {position:absolute; display:block; background:url(/img/tt_left.gif) top left no-repeat}
#tttop {display:block; height:5px; margin-left:5px; background:url(/img/tt_top.gif) top right no-repeat; overflow:hidden}
#ttcont {display:block; padding:2px 12px 3px 7px; margin-left:5px; background:#666; color:#FFF}
#ttbot {display:block; height:5px; margin-left:5px; background:url(/img/tt_bottom.gif) top right no-repeat; overflow:hidden}
#numbered {
list-style-type: decimal;
color: white;
display: list-item;
margin-left: 30px;
} 
.error {
    text-align: center;
    background-color: #FF2222;
    color: white;
    font-weight: bold;
    margin: 5px;
    padding: 5px;
}
