div{
    display: block;
    font-family: "Arial", "Sans-Serif", "Helvetica";
    font-weight: normal;
    margin-left: 13%;
}

#fullName{
    margin-top: 55%;
    font-size: 35px;
}

#jumpNumber{
    margin-top: 35.4%;
    font-size: 27px;
}

#date{
    margin-top: 8%;
    font-size: 27px;
    margin-bottom: 2%;
}

#signature{
    margin-top: 30%;
    margin-left: 13%;
    width: 15%;
    height: 7%;
}