body{
    font-size: 20px;
    line-height: 1.1;
}
.highlight-cord{
   text-decoration: underline;
}
.blackOnWhite{
    text-align:center;
    font-weight:bold;
    border-bottom: black solid 1px;
}
.cellbody{
    border-style:solid;
    border-width: 2px;
    border-color: black;
    width: 70%;
}
.subCell{
    border-bottom: black solid 1px;
    margin:0px;
    overflow:hidden;
}
.bigText{
    font-size:30px;
    text-align: center;
    font-weight: bold;
}
.biggerText{
    font-size:60px;
    line-height: 0.75;
}
.nameText{
    font-size:40px;
    line-height: 0.35;
}
.biggestText{
    font-size:  100px;
    min-height: 100px;
}
.smallText{
    font-size: 10px;
}
.medText{
    font-size:20px;
    text-align: center;
    font-weight: bold;
}
.box{
    float: left;
    width: 50%;
    border-right: black solid 1px;
}
.sitRight{
    float:right;
    display:inline-block;
    width:50%;
    text-align:right;
}
.sitLeft{
    float:left;
    display:inline-block;
    width:50%;
}
.clearfix:after {
   visibility: hidden;
   display: block;
   font-size: 0;
   content: " ";
   clear: both;
   height: 0;
 }